.zm-field-text > textarea::placeholder,
.zm-field-text > input:not([type="submit"])::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.zm-field-text > textarea,
.zm-field-text > input:not([type="submit"]) {
  width: 100%;
  padding: 0.65rem 1rem 0.75rem 1rem;
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  line-height: 1rem;
  border: #ccc solid 1px;
  box-shadow: none;
  font-size: 1rem;
}
.zm-field-text > textarea:focus,
.zm-field-text > input:not([type="submit"]):focus {
  outline: 0;
  border-color: black;
}