.zm-tabs {
  margin: 0;
  padding: 0;
  position: relative;
}
.zm-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.zm-tabs > .zm-tab-item {
  background-color: #f6f6f6;
  border: #ddd solid 1px;
  float: left;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.25rem 0.75rem;
  margin: 0;
  cursor: pointer;
  position: relative;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  line-height: 1rem;
}
.zm-tabs > .zm-tab-item:hover {
  background-color: white;
}
.zm-tabs > .zm-tab-item.active {
  background-color: white;
  border-bottom-color: white;
  z-index: 2;
  position: relative;
  cursor: default;
}
.zm-tabs > .zm-tab-item + .zm-tab-item {
  margin-left: 0.5rem;
}
.zm-tabs.zm-tabs-vertical-right > .zm-tab-item {
  margin-left: 0;
  writing-mode: vertical-rl;
}
.zm-tabs-list {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: #ccc solid 1px;
  background-color: white;
  z-index: 15;
  border-radius: 0.25rem;
  min-width: calc(100% - 2px);
}
.zm-tabs-list li:first-child {
  border-radius: 0.2rem 0.2rem 0 0;
}
.zm-tabs-list li:last-child {
  border-radius: 0 0 0.2rem 0.2rem;
}
.zm-tabs-list li {
  padding: 1rem 1.5rem;
  white-space: nowrap;
}
.zm-tabs-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.zm-tabs-list li.active {
  background-color: #000;
  color: white;
}
.zm-tabs-list li + li {
  border-top: #ccc solid 1px;
}
.zm-tabs-anchor-top-left .zm-tabs-list {
  top: calc(2.75em + 1px);
  right: auto;
  left: 0;
}
.zm-tabs-anchor-top-right .zm-tabs-list {
  top: calc(2.75em + 1px);
  right: 0;
}
.zm-tabs-anchor-bottom-left .zm-tabs-list {
  top: auto;
  bottom: calc(2.75em + 1px);
  right: auto;
  left: 0;
}
.zm-tabs-anchor-bottom-right .zm-tabs-list {
  top: auto;
  bottom: calc(2.75em + 1px);
  right: 0;
  left: auto;
}
.zm-tabs-handler {
  white-space: nowrap;
  width: 100%;
}
.zm-tabs toggle {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}
.zm-tabs toggle > * {
  width: 100%;
}
.zm-tabs-list .fa {
  min-width: 1.25rem;
  text-align: center;
}
.zm-tabs-list {
  text-align: left;
}