<div class="zm-widget-default">
	<div class="zm-widget-heading">
		
		<!-- DEBUG -->
		<zm-widget-debug widget="widget" />
	</div>
	<div class="zm-widget-inner zm-widget-highlightable zm-widget-item zm-draggable zm-widget-drop-inside" ng-class="{
		'zm-widget-adjust-size-top': settings.context === 'structure' && !dropActivated && widget.getScope().position.border.top,
		'zm-widget-adjust-size-bottom': settings.context === 'structure' && !dropActivated && widget.getScope().position.border.bottom,
		'zm-widget-adjust-size-left': settings.context === 'structure' && !dropActivated && widget.getScope().position.border.left,
		'zm-widget-adjust-size-right': settings.context === 'structure' && !dropActivated && widget.getScope().position.border.right
	}">
		<!-- INNER CONTENT (INJECTED DYNAMICALLY) -->
	</div>
	<div ng-if="false" class="zm-widget-footer">
		
	</div>
</div>