<div class="zm-widget-image-container" ng-if="isLoaded" zm-dropzone="dropzoneOptions">
	
	<!-- EMPTY -->
	<div ng-if="!widget.mediaId" class="zm-widget-image-empty">
		<i class="fa fa-image"></i>
	</div>
	
	<!-- STRUCTURE -->
	<div id="media_structure_{{ widget.mediaId }}" ng-if="session.context === 'structure' && widget.mediaId" class="zm-widget-image-ready">
		<!-- Leave empty -->
	</div>
	
	<!-- PREVIEW -->
	<img ng-if="session.context === 'preview' && widget.mediaId" ng-src="{{ src.thumbnail }}" ng-srcset="{{ src.thumbnail }} 480w, {{ src.small }} 768w, {{ src.medium }} 1280w, {{ src.large }} 1920w, {{ src.retina }} 2660w" />
	
	<!-- RESPONSIVE BACKGROUND IMAGE (STRUCTURE) -->
	<style ng-if="widget.mediaId">
		
		/* Thumbnail */
		@media all and (max-width: 480px) {
			#media_structure_{{ widget.mediaId }} {
				background-image: url('{{ src.thumbnail }}');
			}
		}
		/* Small */
		@media all and (min-width: 481px) and (max-width: 768px) {
			#media_structure_{{ widget.mediaId }} {
				background-image: url('{{ src.small }}');
			}
		}
		/* Medium */
		@media all and (min-width: 769px) and (max-width: 1280px) {
			#media_structure_{{ widget.mediaId }} {
				background-image: url('{{ src.medium }}');
			}
		}
		/* Large */
		@media all and (min-width: 1281px) and (max-width: 1920px) {
			#media_structure_{{ widget.mediaId }} {
				background-image: url('{{ src.large }}');
			}
		}
		/* Retina */
		@media all and (min-width: 1921px) and (max-width: 2660px) {
			#media_structure_{{ widget.mediaId }} {
				background-image: url('{{ src.retina }}');
			}
		}
	</style>
</div>