<div class="zm-sidebar-media zm-flex-container-column zm-h100">
	
	<div class="zm-flex-minimal">
		
		<!-- NOTICE -->
		<zm-dismissable class="zm-flex-minimal" type="info" key="zm-sidebar-media-intro">
			{{ ::t('core.components.sidebar.media.noticeIntro') }}
		</zm-dismissable>
		
		<!-- FILTER -->
		<div class="zm-flex-minimal zm-p-2">
			<zm-field-input type="text" icon="search" placeholder="{{ ::t('core.components.sidebar.media.filterPlaceholder') }}" ng-disabled="medias.images.length === 0" ng-model="filters.query" autofocus="on" />
			
			<!-- IF NO MEDIA FOUND -->
			<p ng-if="noMediaFound" style="text-align: center">
				{{ ::t('core.components.sidebar.media.noMediaFound') }}
			</p>
		</div>
	</div>
	<div class="zm-scrollable-y zm-flex-container-column">
		
		<!-- EMPTY -->
		<div class="zm-p-2 zm-text-center zm-flex-container zm-flex-align-center" ng-if="medias.images.length === 0">
			<div>
				<i class="fa fa-exclamation-circle" style="font-size: 2rem"></i>
				<br />{{ ::t('core.components.sidebar.media.empty') }}
			</div>
		</div>
		
		<!-- DETAILS -->
		<div class="zm-sidebar-group" ng-if="medias.images.length > 0">
			<div class="zm-sidebar-title zm-flex-container zm-flex-container-gap zm-flex-align-center" ng-click="settings.images.visible = !settings.images.visible">
				
				<span class="zm-sidebar-title-text">
					{{ ::t('core.components.sidebar.media.images') }}
				</span>
				
				<!-- TOTAL NODES -->
				<div class="zm-badge zm-flex-minimal">
					{{ medias.images.length }}
				</div>
				
				<i class="fa zm-pull-right zm-flex-minimal" ng-class="{'fa-chevron-down': settings.images.visible, 'fa-chevron-right': !tabs.images.visible}"></i>
			</div>
			<div class="zm-sidebar-content zm-p-2 zm-mansory-container" ng-show="settings.images.visible">
				
				<!-- LIST OF ITEMS (REPEAT) -->
				<div zm-draggable="draggableOptions" zm-draggable-item="image.media" class="zm-sidebar-media-item zm-media-item" ng-repeat="image in medias.images">
					<div class="zm-sidebar-media-item-image">
						<img ng-src="{{ ::image.src }}" />
					</div>
					<div class="zm-sidebar-media-item-desc">
						{{ ::image.media.getFile().name }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="zm-flex-minimal">
		
		<!-- ADD MEDIA -->
		<div class="zm-p-2 zm-flex-minimal">
			<zm-btn class="zm-w100 zm-btn-primary" ng-click="add()">
				<i class="fa fa-link fa-margin-right"></i>
				{{ ::t('core.components.sidebar.media.btnAddMedia') }}
			</zm-btn>
		</div>
	</div>
</div>