<div class="zm-sidebar-modules zm-flex-container-column zm-h100">
	
	<div class="zm-flex-minimal">
		
		<!-- NOTICE -->
		<zm-dismissable class="zm-flex-minimal" type="info" key="zm-sidebar-modules-intro">
			{{ ::t('core.components.sidebar.modules.noticeIntro') }}
		</zm-dismissable>
		
		<!-- FILTER -->
		<div class="zm-flex-minimal zm-p-2">
			<zm-field-input type="text" icon="search" placeholder="{{ ::t('core.components.sidebar.modules.filterPlaceholder') }}" ng-model="filters.query" ng-disabled="groups.length === 0" autofocus="on" />
			
			<!-- IF NO modules FOUND -->
			<p ng-if="groups.length > 0 && filteredGroups.length === 0" style="text-align: center">
				{{ ::t('core.components.sidebar.modules.noModuleFound') }}
			</p>
		</div>
	</div>
	<div class="zm-scrollable-y zm-flex-container-column">
		
		<!-- EMPTY -->
		<div class="zm-p-2 zm-text-center zm-flex-container zm-flex-align-center" ng-if="groups.length === 0">
			<div>
				<i class="fa fa-exclamation-circle" style="font-size: 2rem"></i>
				<br />{{ ::t('core.components.sidebar.modules.empty') }}
			</div>
		</div>
		
		<!-- DETAILS -->
		<div class="zm-sidebar-group zm-flex-minimal" ng-repeat="group in filteredGroups">
			<div class="zm-sidebar-title zm-flex-container zm-flex-container-gap zm-flex-align-center" ng-click="tabs[group.name].visible = !tabs[group.name].visible">
				
				<span class="zm-sidebar-title-text">
					{{ ::group.title }}
				</span>
				
				<!-- TOTAL NODES -->
				<div class="zm-badge zm-flex-minimal">
					{{ group.modules.length }}
				</div>
				
				<i class="fa zm-pull-right zm-flex-minimal" ng-class="{'fa-chevron-down': tabs[group.name].visible, 'fa-chevron-right': !tabs[group.name].visible}"></i>
			</div>
			<div class="zm-sidebar-content" ng-show="tabs[group.name].visible">
				
				<!-- LIST OF ITEMS (REPEAT) -->
				<div class="zm-sidebar-modules-item zm-modules-item zm-p-3" ng-repeat="module in group.modules" ng-class="{ activated: settings[module.name].activated }">
					<div class="zm-flex-container">
						<div class="zm-flex-minimal zm-pr-3">
							<zm-field-switch ng-change="toggle(module, settings[module.name].activated)" ng-model="settings[module.name].activated"></zm-field-switch>
						</div>
						<div class="zm-sidebar-module-item-content">
							<div class="zm-sidebar-modules-item-title">
								<strong>
									{{ ::module.title }}
								</strong>
							</div>
							<div class="zm-sidebar-modules-item-desc">
								{{ ::module.desc }}
							</div>
						</div>
						<div class="zm-flex-minimal zm-flex-align-self-center zm-pl-3">
							<img ng-src="{{ module.thumbnail }}" style="max-height: 3rem" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="zm-flex-minimal">
		
		<!-- APPLY -->
		<div class="zm-p-2 zm-flex-minimal">
			<zm-btn ng-disabled="!hasDifferences()" class="zm-w100 zm-btn-primary" ng-click="apply()">
				<i class="fa fa-check fa-margin-right"></i>
				{{ ::t('core.components.sidebar.modules.applyBtn') }}
			</zm-btn>
		</div>
	</div>
</div>