<div class="zm-sidebar-advanced">
    
    <div class="zm-flex-container-column zm-h100">
        
    </div>
    <div class="zm-scrollable-y">
        
    </div>
    
    <!-- SELECTED SETTINGS -->
    <div class="zm-sidebar-group" ng-repeat="(key, setting) in getSettings()">
        <div class="zm-sidebar-title" ng-click="setting.visible = !setting.visible">
            {{ ::setting.title }}
            
            <i class="fa zm-pull-right" ng-class="{'fa-chevron-down': setting.visible, 'fa-chevron-right': !setting.visible}"></i>
        </div>
        <div class="zm-sidebar-content" ng-show="setting.visible">
            <zm-directive name="::key"></zm-directive>
        </div>
    </div>
</div>