.zm-sidebar-debug-console {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  height: 40vh;
  overflow: auto;
  padding-left: 0;
  white-space: nowrap;
  width: calc(33.333vw - 3.75rem);
}
@media all and (max-width: 768px) {
  .zm-sidebar-debug-console {
    width: calc(100vw - 3.75rem);
  }
}
.zm-sidebar-debug-console-empty {
  list-style-type: none;
  padding-top: calc(20vh - 1.5rem);
}
.zm-sidebar-debug-console-namespace {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #debe14;
}
.zm-sidebar-debug-console-name {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}
.zm-sidebar-debug-console-options {
  white-space: nowrap;
}
.zm-sidebar-debug-console-options > * {
  padding: 0.5rem;
  margin: -0.25rem;
}