<div class="zm-sidebar-debug zm-flex-container-column zm-h100">
	
	<div class="zm-flex-minimal">
		
	</div>
	<div class="zm-scrollable-y zm-flex-container-column">
		
		<!-- DETAILS -->
		<zm-accordion ng-model="settings.details.visible" style="margin-top: -1px">
			<header class="zm-flex-container zm-flex-gap zm-flex-align-center">
				<span class="zm-sidebar-title-text">
					{{ ::t('core.components.sidebar.debug.detailsTitle') }}
				</span>
				
				<i class="fa zm-flex-minimal" ng-class="{'fa-chevron-down': settings.details.visible, 'fa-chevron-right': !settings.details.visible}"></i>
			</header>
			<content class="zm-p-3">
				<div class="zm-flex-container zm-nowrap">
					<div>
						<strong>{{ ::t('core.components.sidebar.debug.version') }}</strong> {{ version }}
					</div>
					<div>
						<strong>{{ ::t('core.components.sidebar.debug.selectedWidgets') }}</strong> {{ zm.widget.totalSelected }}
					</div>
				</div>
				<div class="zm-flex-container zm-nowrap">
					<div>
						<strong>{{ ::t('core.components.sidebar.debug.totalWidgets') }}</strong> {{ zm.widget.total }}
					</div>
					<div>
						<strong>{{ ::t('core.components.sidebar.debug.history') }}</strong> {{ history.position || 0 }} / {{ history.changes.length || 0 }}
					</div>
				</div>
			</content>
		</zm-accordion>
		
		<!-- SETTINGS -->
		<zm-accordion ng-model="settings.settings.visible">
			<header class="zm-flex-container zm-flex-gap zm-flex-align-center">
				<span class="zm-sidebar-title-text">
					{{ ::t('core.components.sidebar.debug.settingsTitle') }}
				</span>
				
				<i class="fa zm-flex-minimal" ng-class="{'fa-chevron-down': settings.settings.visible, 'fa-chevron-right': !settings.settings.visible}"></i>
			</header>
			<content class="zm-p-2">
				<zm-field-switch title="{{ ::t('core.components.sidebar.debug.settings.showWidgetTokenId') }}" ng-model="$settings.debug.settings.showWidgetTokenId"></zm-field-switch>
			</content>
		</zm-accordion>
		
		<!-- LOGS -->
		<zm-accordion ng-model="settings.logs.visible">
			<header class="zm-flex-container zm-flex-gap zm-flex-align-center">
				<span class="zm-sidebar-title-text">
					{{ ::t('core.components.sidebar.debug.logsTitle') }}
				</span>
				
				<i class="fa zm-flex-minimal" ng-class="{'fa-chevron-down': settings.logs.visible, 'fa-chevron-right': !settings.logs.visible}"></i>
			</header>
			<content>
				<div class="zm-pt-1" ng-init="groups = ($debug.getActiveNamespaces() | columnize: 2)">
					<div ng-repeat="group in groups" class="zm-flex-container zm-flex-gap zm-flex-equal-size zm-flex-align-center">
						<div ng-repeat="item in group" class="zm-px-1">
							<zm-field-switch title="{{ item.label }}" ng-model="item.active"></zm-field-switch>
						</div>
					</div>
				</div>
				
				<ul class="zm-sidebar-debug-console zm-m-2 zm-shadow-down-inset">
					<li class="zm-sidebar-debug-console-empty zm-text-center zm-m-3" ng-if="$debug.recent.length === 0">
						{{ ::t('core.components.sidebar.debug.logsEmpty') }}
					</li>
					<li class="zm-sidebar-debug-item zm-px-2" ng-repeat="log in $debug.recent">
						<span class="zm-sidebar-debug-console-date">{{ log.datetime | date:'YYYY-MM-DD HH:mm:ss:ms' }}</span>
						<span class="zm-sidebar-debug-console-namespace zm-px-2">{{ log.namespace }}</span>
						<span class="zm-sidebar-debug-console-name zm-px-2">{{ log.name }}</span>
						<span class="zm-sidebar-debug-console-value">{{ log.value.toString() }}</span>
					</li>
				</ul>
				
				<div class="zm-p-2 zm-pt-0 zm-sidebar-debug-console-options zm-flex-container zm-flex-align-center zm-flex-equal-height">
					<div class="zm-flex-minimal">
						{{ ::t('core.components.sidebar.debug.maxLogs') }}
					</div>
					<div style="min-width: 8rem">
						<zm-field-number ng-model="$settings.debug.settings.maxLog"></zm-field-number>
					</div>
					<div class="zm-flex-align-self-stretch">
						<zm-btn ng-disabled="$debug.recent.length === 0" class="zm-w100 zm-h100" ng-click="$debug.clearLogs()">
							{{ ::t('core.components.sidebar.debug.clearConsole') }}
						</zm-btn>
					</div>
				</div>
			</content>
		</zm-accordion>
	
		<!-- ACTIONS -->
		<zm-accordion ng-model="settings.actions.visible">
			<header class="zm-flex-container zm-flex-gap zm-flex-align-center">
				<span class="zm-sidebar-title-text">
					{{ ::t('core.components.sidebar.debug.actionsTitle') }}
				</span>
				
				<i class="fa zm-flex-minimal" ng-class="{'fa-chevron-down': settings.actions.visible, 'fa-chevron-right': !settings.actions.visible}"></i>
			</header>
			<content>
				<!-- NOTICE -->
				<zm-dismissable locked type="warning" key="zm-sidebar-debug-intro">
					<span ng-bind-html="::t('core.components.sidebar.debug.actionsWarning') | trustHtml"></span>
				</zm-dismissable>
				
				<div class="zm-p-2">
					<zm-btn class="zm-w100" ng-click="dump()">
						{{ ::t('core.components.sidebar.debug.actionsBtnDump') }}
					</zm-btn>
					<zm-btn class="zm-w100 zm-mt-1" ng-click="flushHistory()">
						{{ ::t('core.components.sidebar.debug.actionsBtnFlushHistory') }}
					</zm-btn>
					<zm-btn class="zm-w100 zm-mt-1 zm-btn-warning" ng-click="flushAll()">
						{{ ::t('core.components.sidebar.debug.actionsBtnFlushMemory') }}
					</zm-btn>
				</div>
			</content>
		</zm-accordion>
	</div>
	<div class="zm-flex-minimal">
		
	</div>
</div>