<div class="zm-toolbar">
	<div class="zm-toolbar-inner zm-clearfix">
		
		<!-- TABS -->
		<zm-tabs anchor="top-left" ng-disabled="!$sessionWorkspace.isValid()" class="zm-toolbar-sections">
			<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.changeMode') }}">
				
				<i class="fa" ng-class="{
					'fa-cubes': settings.context === 'structure',
					'fa-paint-brush': settings.context === 'style',
					'fa-eye': settings.context === 'preview'
				}"></i>
				
				<span ng-if="settings.context === 'structure'">
					{{ ::t('core.components.toolbar.structure') }}
				</span>
				<span ng-if="settings.context === 'preview'">
					{{ ::t('core.components.toolbar.preview') }}
				</span>
				
				<i style="font-size: 0.5rem;" class="fa fa-chevron-down"></i>
			</toggle>
			<items>
				
				<!-- STRUCTURE -->
				<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center zm-flex-nowrap" ng-class="{active: settings.context === 'structure'}" ng-click="setTab('structure')">
					<i class="fa fa-cubes zm-flex-minimal"></i>
					<span>
						{{ ::t('core.components.toolbar.structure') }}
					</span>
					<small ng-if="device.isPrecise()" class="zm-shortcut-tip zm-flex-minimal">ALT + S</small>
				</li>
				
				<!-- PREVIEW -->
				<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center" ng-class="{active: settings.context === 'preview'}" ng-click="setTab('preview')">
					<i class="fa fa-eye zm-flex-minimal"></i>
					<span>
						{{ ::t('core.components.toolbar.preview') }}
					</span>
					<small ng-if="device.isPrecise()" class="zm-shortcut-tip zm-flex-minimal">ALT + P</small>
				</li>
			</items>
		</zm-tabs>
		
		<div class="zm-toolbar-actions zm-toolbar-actions-context">
			
			<!-- UNDO -->
			<zm-btn ng-disabled="!history.canUndo" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.undo') }}" ng-click="history.undo()">
				<i class="fa fa-undo"></i>
			</zm-btn>
			
			<!-- REDO -->
			<zm-btn ng-disabled="!history.canRedo" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.redo') }}" ng-click="history.redo()">
				<i class="fa fa-repeat"></i>
			</zm-btn>
		</div>
		
		<div class="zm-toolbar-actions zm-flex-container zm-flex-align-center zm-toolbar-actions-workspace">
			<!--<div ng-if="breadcrumbs.length === 0" class="zm-flex-container zm-flex-container-gap zm-flex-align-center">-->
			<!--	<i class="fa fa-exclamation-circle zm-flex-minimal zm-text-primary"></i>-->
			<!--	<span>{{ ::t('core.components.toolbar.openWorkspaceDrawer') }}</span>-->
			<!--</div>-->
			<div ng-repeat="breadcrumb in breadcrumbs">
				{{ breadcrumb.label }}
				<i ng-if="$index < breadcrumbs.length" class="fa fa-angle-right"></i>
			</div>
			
			<span ng-if="$sessionWorkspace.lastSave > $sessionWorkspace.lastUpdate" class="zm-badge zm-bg-success">
				{{ ::t('core.components.toolbar.workspaceSaved') }}
			</span>
		</div>
		
		<div class="zm-toolbar-actions zm-toolbar-actions-general">
			
			<!-- CLEAR -->
			<zm-btn zm-tooltip="{{ ::t('core.components.toolbar.tooltip.clearDoc') }}" ng-disabled="!segment || zm.getBaseScope().widget.childs.length === 0" ng-click="zm.content.clear()">
				<i class="fa fa-eraser"></i>
			</zm-btn>
			
			<div class="zm-btn-sep zm-hide-mobile"></div>
			
			<!-- IMPORT -->
			<zm-btn zm-tooltip="{{ ::t('core.components.toolbar.tooltip.import') }}" class="zm-hide-mobile" ng-disabled="!segment || !$sessionWorkspace.isValid()" ng-click="zm.content.import()">
				<i class="fa fa-download"></i>
			</zm-btn>
			
			<!-- EXPORT -->
			<zm-btn zm-tooltip="{{ ::t('core.components.toolbar.tooltip.export') }}" class="zm-hide-mobile" ng-disabled="!segment || zm.getBaseScope().widget.childs.length === 0" ng-click="zm.content.export()">
				<i class="fa fa-upload"></i>
			</zm-btn>
			
			<div class="zm-btn-sep zm-hide-mobile"></div>
			
			<!-- DOC -->
			<zm-btn zm-tooltip="{{ ::t('core.components.toolbar.tooltip.doc') }}" class="zm-hide-mobile" ng-click="$modal.open('doc')">
				<i class="fa fa-book fa-margin-right"></i>
				{{ ::t('core.components.toolbar.doc') }}
			</zm-btn>
		</div>
	</div>
</div>