<div class="zm-toolbar">
	<div class="zm-toolbar-inner zm-clearfix">
		
		<!-- SECTIONS -->
		<zm-tabs anchor="top-left" class="zm-toolbar-sections">
			<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.changeMode') }}">
				
				<i class="fa" ng-class="{
					'fa-cubes': settings.context === 'structure',
					'fa-paint-brush': settings.context === 'style',
					'fa-eye': settings.context === 'preview'
				}"></i>
				
				<span ng-if="settings.context === 'structure'">
					{{ ::t('core.components.toolbar.structure') }}
				</span>
				<span ng-if="settings.context === 'preview'">
					{{ ::t('core.components.toolbar.preview') }}
				</span>
				
				<i style="font-size: 0.5rem; line-height: 0.5rem;" class="fa fa-chevron-down"></i>
			</toggle>
			<items>
				
				<!-- STRUCTURE -->
				<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-class="{active: settings.context === 'structure'}" ng-click="setTab('structure')">
					<i class="fa fa-cubes zm-flex-minimal"></i>
					<span>
						{{ ::t('core.components.toolbar.structure') }}
					</span>
					<small ng-if="device.isPrecise()" class="zm-shortcut-tip zm-flex-minimal">ALT + S</small>
				</li>
				
				<!-- PREVIEW -->
				<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center" ng-class="{active: settings.context === 'preview'}" ng-click="setTab('preview')">
					<i class="fa fa-eye zm-flex-minimal"></i>
					<span>
						{{ ::t('core.components.toolbar.preview') }}
					</span>
					<small ng-if="device.isPrecise()" class="zm-shortcut-tip zm-flex-minimal">ALT + P</small>
				</li>
			</items>
		</zm-tabs>
		
		<!-- CONTEXT -->
		<div class="zm-toolbar-actions zm-toolbar-actions-context">
			<span class="zm-toolbar-items-container zm-flex-align-center zm-flex-nowrap">
				
				<!-- UNDO -->
				<zm-btn ng-disabled="!history.canUndo" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.undo') }}" ng-click="history.undo()">
					<i class="fa fa-undo"></i>
				</zm-btn>
				
				<!-- REDO -->
				<zm-btn ng-disabled="!history.canRedo" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.redo') }}" ng-click="history.redo()">
					<i class="fa fa-repeat"></i>
				</zm-btn>
				
				<!-- CLEAR -->
				<!--<zm-btn class="zm-hide-mobile" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.clearDoc') }}" ng-disabled="!$segment.isValid() || $segment.segment.data.content.childs.length === 0" ng-click="zm.content.clear()">-->
				<!--	<i class="fa fa-eraser"></i>-->
				<!--</zm-btn>-->
			</span>
		</div>
		
		<!-- ACTIONS -->
		<div class="zm-toolbar-actions zm-flex-container zm-flex-align-left zm-toolbar-actions-workspace">
			
			<div ng-if="breadcrumbs.length > 0 && $device.isLargeEnough()" class="zm-btn-sep zm-hide-mobile" style="margin-left: 0; margin-right: 1rem;"></div>
			
			<!-- BREADCRUMBS -->
			<div ng-if="breadcrumbs.length > 0 && $device.isLargeEnough()" class="zm-breadcrumbs zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap zm-flex-minimal" ng-class="{ 'zm-mr-3': $profile.isSignedIn === false }">
				
				<i class="fa fa-cubes fa-margin-right zm-flex-minimal"></i>
				
				<div class="zm-breadcrumb zm-flex-container zm-flex-gap-x zm-flex-nowrap zm-flex-align-center"
					 ng-repeat="breadcrumb in breadcrumbs"
					 ng-class="{ first: $index === 0, last: $index === breadcrumbs.length - 1 }">
					<span ng-if="$index < breadcrumbs.length - 1">
						{{ breadcrumb.label }}
					</span>
					<zm-tabs ng-if="$index === breadcrumbs.length - 1" anchor="top-left" style="flat">
						<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.segment') }}">
							
							{{ breadcrumb.label }}
							
							<i style="font-size: 0.5rem; line-height: 1rem;" class="fa fa-chevron-down"></i>
						</toggle>
						<items>
							
							<!-- CLOSE -->
							<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-click="closeSegment()">
								<i class="fa fa-window-close zm-flex-minimal"></i>
								<span>
									{{ ::t('core.components.toolbar.closeSegment') }}
								</span>
							</li>
						</items>
					</zm-tabs>
					<i ng-if="$index < breadcrumbs.length - 1" class="fa fa-angle-right zm-flex-minimal"></i>
				</div>
			</div>
			
			<!-- LOADING/SAVING -->
			<zm-badge zm-if="$profile.isLoading || $profile.hasLoaded || $profile.isSaving || $profile.hasSaved"
					  class="zm-ml-3 zm-transition-opacity zm-transition-background"
					  ng-class="{ 'zm-bg-success': ($profile.hasLoaded || $profile.hasSaved) }">
				
				<span ng-if="$profile.isLoading">{{ ::t('core.components.toolbar.dataIsLoading') }}</span>
				<span ng-if="$profile.hasLoaded">{{ ::t('core.components.toolbar.dataHasLoaded') }}</span>
				<span ng-if="$profile.isSaving">{{ ::t('core.components.toolbar.dataIsSaving') }}</span>
				<span ng-if="$profile.hasSaved">
					<i class="fa fa-thumbs-o-up fa-margin-right"></i>
					{{ ::t('core.components.toolbar.dataHasSaved') }}
				</span>
			</zm-badge>
			
			<!-- NOT CONNECTED, DATA SAVED IN BROWSER -->
			<div ng-if="$profile.isSignedIn === false" class="zm-toolbar-not-connected-data zm-flex-container zm-flex-gap-x zm-flex-align-center">
				<i class="fa fa-exclamation-circle zm-flex-minimal zm-text-primary"></i>
				<span>{{ ::t('core.components.toolbar.notConnectedDataBrowser') }}</span>
			</div>
			
			<!-- WORKSPACE SAVED -->
			<span ng-if="$segment.lastSave > $segment.lastUpdate" class="zm-badge zm-bg-success">
				{{ ::t('core.components.toolbar.workspaceSaved') }}
			</span>
		</div>
		
		<!-- GENERAL -->
		<div class="zm-toolbar-actions zm-toolbar-actions-general">
			
			<!-- ACCOUNT -->
			<span ng-if="$profile.hasProviders !== false" class="zm-toolbar-profile-container zm-toolbar-items-container zm-flex-align-center zm-hide-mobile zm-flex-nowrap">
				
				<!-- LOADING -->
				<zm-loading ng-if="$profile.isLoaded === null" visible="$profile.isLoaded === null" style="width: 6rem" />
			
				<!-- USER INFO -->
				<zm-tabs ng-if="$profile.isSignedIn === true" anchor="top-left" style="flat">
					<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.myAccount') }}">
						
						<img ng-src="{{ $profile.picture }}" class="zm-profile-pic" />
						{{ $profile.givenName }}
						
						<i style="font-size: 0.5rem; line-height: 1rem;" class="fa fa-chevron-down"></i>
					</toggle>
					<items>
						
						<!-- SIGN-OUT -->
						<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-click="$profile.signOut()">
							<i class="fa fa-sign-out zm-flex-minimal"></i>
							<span>
								{{ ::t('core.components.toolbar.signOut') }}
							</span>
						</li>
					</items>
				</zm-tabs>
				
				<!-- SIGN-IN -->
				<zm-btn ng-if="$profile.isSignedIn === false" class="zm-btn-primary" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.signIn') }}" ng-click="$profile.signIn()">
					<i class="fa fa-sign-in fa-margin-right"></i>
					{{ ::t('core.components.toolbar.signIn') }}
				</zm-btn>
				
				<!-- SEP -->
				<div class="zm-btn-sep zm-hide-mobile"></div>
			</span>
			
			<!-- DOC -->
			<zm-btn zm-tooltip="{{ ::t('core.components.toolbar.tooltip.doc') }}" class="zm-hide-mobile" ng-click="$modal.open('doc')">
				<i class="fa fa-book fa-margin-right"></i>
				{{ ::t('core.components.toolbar.doc') }}
			</zm-btn>
			
			<!-- TABS: SETTINGS -->
			<zm-tabs ng-disabled="!$segment.isValid()" anchor="top-right">
				<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.settings') }}">
					
					<i class="fa fa-gear"></i>
					
					<i style="font-size: 0.5rem; line-height: 1rem;" class="fa fa-chevron-down"></i>
				</toggle>
				<items>
					
					<!-- IMPORT -->
					<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-disabled="!$segment.isValid() || !$segment.isValid()" ng-click="$segment.import()">
						<i class="fa fa-download zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.import') }}
						</span>
					</li>
					
					<!-- EXPORT -->
					<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-disabled="!$segment.isValid() || !$segment.isValid()" ng-click="$segment.export()">
						<i class="fa fa-upload zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.export') }}
						</span>
					</li>
					
					<!-- CLEAR -->
					<li class="zm-show-mobile zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-disabled="!$segment.isValid() || $segment.segment.data.content.childs.length === 0" ng-click="zm.content.clear()">
						<i class="fa fa-eraser zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.clear') }}
						</span>
					</li>
				</items>
			</zm-tabs>
		</div>
	</div>
	<div ng-if="!$device.isLargeEnough()" class="zm-toolbar-inner-bottom zm-clearfix zm-flex-container zm-flex-align-center zm-flex-gap-x">
		<div class="zm-flex-container zm-flex-align-center zm-flex-align-center">
			
			<!-- NOT CONNECTED, DATA SAVED IN BROWSER -->
			<div ng-if="breadcrumbs.length === 0 && $profile.isSignedIn === false" class="zm-toolbar-not-connected-data zm-flex-container zm-flex-gap-x zm-flex-align-center">
				<i class="fa fa-exclamation-circle zm-flex-minimal zm-text-primary"></i>
				<span class="zm-ellipsis">{{ ::t('core.components.toolbar.notConnectedDataBrowser') }}</span>
			</div>
			
			<!-- CONNECTED, NO SEGMENT -->
			<div ng-if="breadcrumbs.length === 0 && $profile.isSignedIn === true" class="zm-text-center">
				<i class="fa fa-exclamation-triangle fa-margin-right zm-text-warning"></i>
				<span>{{ ::t('core.components.toolbar.noSegmentLoaded') }}</span>
			</div>
			
			<!-- BREADCRUMBS -->
			<div ng-if="breadcrumbs.length > 0" class="zm-breadcrumbs zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap zm-flex-minimal">
				
				<i class="fa fa-cubes fa-margin-right zm-flex-minimal"></i>
				
				<div class="zm-breadcrumb zm-flex-container zm-flex-minimal zm-flex-gap-x zm-flex-nowrap zm-flex-align-center"
					 ng-repeat="breadcrumb in breadcrumbs"
					 ng-class="{ first: $index === 0, last: $index === breadcrumbs.length - 1 }">
					<span ng-if="$index < breadcrumbs.length - 1">
						{{ breadcrumb.label }}
					</span>
					<zm-tabs ng-if="$index === breadcrumbs.length - 1" anchor="top-left" style="flat">
						<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.segment') }}">
							
							{{ breadcrumb.label }}
							
							<i style="font-size: 0.5rem; line-height: 1rem;" class="fa fa-chevron-down"></i>
						</toggle>
						<items>
							
							<!-- CLOSE -->
							<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-click="closeSegment()">
								<i class="fa fa-window-close zm-flex-minimal"></i>
								<span>
									{{ ::t('core.components.toolbar.closeSegment') }}
								</span>
							</li>
						</items>
					</zm-tabs>
					<i ng-if="$index < breadcrumbs.length - 1" class="fa fa-angle-right zm-flex-minimal"></i>
				</div>
			</div>
		</div>
		
		<!-- SIGN-IN -->
		<div class="zm-flex-minimal">
			<zm-btn ng-if="$device.isSmall() && $profile.isSignedIn === false" class="zm-btn-primary zm-nowrap" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.signIn') }}" ng-click="$profile.signIn()">
				<i class="fa fa-sign-in fa-margin-right"></i>
				{{ ::t('core.components.toolbar.signIn') }}
			</zm-btn>
			
			<!-- USER INFO -->
			<zm-tabs ng-if="$profile.isSignedIn === true && $device.isSmall()" class="zm-toolbar-profile-container" anchor="top-left" style="flat">
				<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.myAccount') }}">
					
					<img ng-src="{{ $profile.picture }}" class="zm-profile-pic" />
					<span>{{ $profile.givenName }}</span>
					
					<i style="font-size: 0.5rem; line-height: 1rem;" class="fa fa-chevron-down"></i>
				</toggle>
				<items>
					
					<!-- SIGN-OUT -->
					<li class="zm-tab-item zm-flex-container zm-flex-gap-x zm-flex-align-center zm-flex-nowrap" ng-click="$profile.signOut()">
						<i class="fa fa-sign-out zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.signOut') }}
						</span>
					</li>
				</items>
			</zm-tabs>
		</div>
	</div>
</div>