<div class="zm-toolbar">
	<div class="zm-toolbar-inner zm-clearfix">
		
		<!-- SECTIONS -->
		<zm-tabs anchor="top-left" ng-disabled="!$sessionWorkspace.isValid()" class="zm-toolbar-sections">
			<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.changeMode') }}">
				
				<i class="fa" ng-class="{
					'fa-cubes': settings.context === 'structure',
					'fa-paint-brush': settings.context === 'style',
					'fa-eye': settings.context === 'preview'
				}"></i>
				
				<span ng-if="settings.context === 'structure'">
					{{ ::t('core.components.toolbar.structure') }}
				</span>
				<span ng-if="settings.context === 'preview'">
					{{ ::t('core.components.toolbar.preview') }}
				</span>
				
				<i style="font-size: 0.5rem;" class="fa fa-chevron-down"></i>
			</toggle>
			<items>
				
				<!-- STRUCTURE -->
				<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center zm-flex-nowrap" ng-class="{active: settings.context === 'structure'}" ng-click="setTab('structure')">
					<i class="fa fa-cubes zm-flex-minimal"></i>
					<span>
						{{ ::t('core.components.toolbar.structure') }}
					</span>
					<small ng-if="device.isPrecise()" class="zm-shortcut-tip zm-flex-minimal">ALT + S</small>
				</li>
				
				<!-- PREVIEW -->
				<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center" ng-class="{active: settings.context === 'preview'}" ng-click="setTab('preview')">
					<i class="fa fa-eye zm-flex-minimal"></i>
					<span>
						{{ ::t('core.components.toolbar.preview') }}
					</span>
					<small ng-if="device.isPrecise()" class="zm-shortcut-tip zm-flex-minimal">ALT + P</small>
				</li>
			</items>
		</zm-tabs>
		
		<!-- CONTEXT -->
		<div class="zm-toolbar-actions zm-toolbar-actions-context">
			<span class="zm-toolbar-items-container zm-flex-align-center zm-flex-nowrap">
				
				<!-- UNDO -->
				<zm-btn ng-disabled="!history.canUndo" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.undo') }}" ng-click="history.undo()">
					<i class="fa fa-undo"></i>
				</zm-btn>
				
				<!-- REDO -->
				<zm-btn ng-disabled="!history.canRedo" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.redo') }}" ng-click="history.redo()">
					<i class="fa fa-repeat"></i>
				</zm-btn>
				
				<div class="zm-btn-sep zm-hide-mobile"></div>
				
				<!-- CLEAR -->
				<zm-btn class="zm-hide-mobile" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.clearDoc') }}" ng-disabled="!segment || zm.getBaseScope().widget.childs.length === 0" ng-click="zm.content.clear()">
					<i class="fa fa-eraser"></i>
				</zm-btn>
			</span>
		</div>
		
		<!-- ACTIONS -->
		<div class="zm-toolbar-actions zm-flex-container zm-flex-align-center zm-toolbar-actions-workspace">
			
			<!-- NOT CONNECTED, DATA SAVED IN BROWSER -->
			<div ng-if="$profile.isSignedIn === false" class="zm-flex-container zm-flex-container-gap zm-flex-align-center">
				<i class="fa fa-exclamation-circle zm-flex-minimal zm-text-primary"></i>
				<span>{{ ::t('core.components.toolbar.notConnectedDataBrowser') }}</span>
			</div>
			
			<div ng-repeat="breadcrumb in breadcrumbs">
				{{ breadcrumb.label }}
				<i ng-if="$index < breadcrumbs.length" class="fa fa-angle-right"></i>
			</div>
			
			<span ng-if="$sessionWorkspace.lastSave > $sessionWorkspace.lastUpdate" class="zm-badge zm-bg-success">
				{{ ::t('core.components.toolbar.workspaceSaved') }}
			</span>
		</div>
		
		<!-- GENERAL -->
		<div class="zm-toolbar-actions zm-toolbar-actions-general">
			
			<!-- ACCOUNT -->
			<span ng-if="$profile.hasProviders !== false" class="zm-toolbar-profile-container zm-toolbar-items-container zm-flex-align-center zm-hide-mobile zm-flex-nowrap">
				
				<!-- LOADING -->
				<zm-loading ng-if="$profile.isLoaded === null" visible="$profile.isLoaded === null" style="width: 6rem" />
			
				<!-- USER INFO -->
				<zm-tabs ng-if="$profile.isSignedIn === true" anchor="top-left" style="flat">
					<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.myAccount') }}">
						
						<img ng-src="{{ $profile.picture }}" class="zm-profile-pic" />
						{{ $profile.givenName }}
						
						<i style="font-size: 0.5rem;" class="fa fa-chevron-down"></i>
					</toggle>
					<items>
						
						<!-- SIGN-OUT -->
						<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center zm-flex-nowrap" ng-click="$profile.signOut()">
							<i class="fa fa-sign-out zm-flex-minimal"></i>
							<span>
								{{ ::t('core.components.toolbar.signOut') }}
							</span>
						</li>
					</items>
				</zm-tabs>
				
				<!-- SIGN-IN -->
				<zm-btn ng-if="$profile.isSignedIn === false" class="zm-btn-primary" zm-tooltip="{{ ::t('core.components.toolbar.tooltip.signIn') }}" ng-click="$profile.signIn()">
					<i class="fa fa-sign-in fa-margin-right"></i>
					{{ ::t('core.components.toolbar.signIn') }}
				</zm-btn>
				
				<!-- SEP -->
				<div class="zm-btn-sep zm-hide-mobile"></div>
			</span>
			
			<!-- DOC -->
			<zm-btn zm-tooltip="{{ ::t('core.components.toolbar.tooltip.doc') }}" class="zm-hide-mobile" ng-click="$modal.open('doc')">
				<i class="fa fa-book fa-margin-right"></i>
				{{ ::t('core.components.toolbar.doc') }}
			</zm-btn>
			
			<!-- TABS: SETTINGS -->
			<zm-tabs ng-disabled="!$sessionWorkspace.isValid()" anchor="top-right">
				<toggle zm-tooltip="{{ ::t('core.components.toolbar.tooltip.settings') }}">
					
					<i class="fa fa-gear"></i>
					
					<i style="font-size: 0.5rem;" class="fa fa-chevron-down"></i>
				</toggle>
				<items>
					
					<!-- IMPORT -->
					<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center zm-flex-nowrap" ng-disabled="!segment || !$sessionWorkspace.isValid()" ng-click="zm.content.import()">
						<i class="fa fa-download zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.import') }}
						</span>
					</li>
					
					<!-- EXPORT -->
					<li class="zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center zm-flex-nowrap" ng-disabled="!segment || !$sessionWorkspace.isValid()" ng-click="zm.content.export()">
						<i class="fa fa-upload zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.export') }}
						</span>
					</li>
					
					<!-- CLEAR -->
					<li class="zm-show-mobile zm-tab-item zm-flex-container zm-flex-container-gap zm-flex-align-center zm-flex-nowrap" ng-disabled="!segment || zm.getBaseScope().widget.childs.length === 0" ng-click="zm.content.clear()">
						<i class="fa fa-eraser zm-flex-minimal"></i>
						<span>
							{{ ::t('core.components.toolbar.clear') }}
						</span>
					</li>
				</items>
			</zm-tabs>
		</div>
	</div>
</div>