<!-- ERROR -->
<zm-dismissable ng-if="node.error.message" locked type="warning">
	{{ model.error.message }}
	
	— <a href ng-click="node.reconnect()">{{ ::t('core.components.sidebar.workspace.tryAgain') }}</a>
</zm-dismissable>

<!-- NO PROJECT -->
<div class="zm-text-center zm-flex-container zm-flex-align-center" ng-if="lvlList.length === 0">
    <i class="fa fa-exclamation-circle fa-margin-right zm-flex-minimal"></i>
    {{ ::$root.t('core.components.sidebar.workspace.emptyProjectLabel') }}
</div>