.zm-widget-row:after {
  content: "";
  display: table;
  clear: both;
}

.zm-widget-container:not(.zm-context-preview) .zm-widget-row > .zm-widget-inner > .row > .zm-widget-inner,
.zm-widget-container:not(.zm-context-preview) .zm-widget-row:not(.zm-widget-default) > .zm-widget-inner {
  background-color: #f6f6f6;
  border: transparent solid 0.5rem;
}

@media (pointer: coarse) {
  .zm-widget-container:not(.zm-context-preview) .zm-widget-row > .zm-widget-inner > .row > .zm-widget-inner,
  .zm-widget-container:not(.zm-context-preview) .zm-widget-row:not(.zm-widget-default) > .zm-widget-inner {
    background-color: #f6f6f6;
    border: transparent solid 0.75rem;
  }
}
zm-widget[type=row] + zm-widget[type=row] .zm-widget-row {
  margin-top: -1px;
}
.zm-widget-row.zm-widget-default > .zm-widget-inner {
  padding: 0;
}
.zm-widget-child-type-row:not(.zm-widget-childs-empty) > .zm-widget-child-add .zm-widget-add-sep {
  background-color: #f6f6f6;
}
.zm-widget-row > .zm-widget-inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.zm-widget-row > .zm-widget-inner > .zm-widget-column {
  flex-grow: 1;
}

/**
 * ADD COLUMNS
 */
.zm-widget-row-add-column-item {
  display: block;
  text-align: center;
  padding: 1rem 0;
  background-color: white;
}
.zm-widget-row-add-column-item-amount {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}
.zm-widget-row-add-column-item {
  outline: #ccc solid 1px;
  /*outline-offset: -1px;*/
}
.zm-widget-row-add-column-item:hover {
  outline: #75a9f9 solid 2px;
  color: #75a9f9;
  outline-offset: -1px;
  cursor: pointer;
  z-index: 1;
}
.zm-widget-row-add-columns {
  width: 100%;
}
.zm-widget-empty.zm-widget-row > .zm-widget-inner {
  padding: 2.125rem;
  background-color: white;
}
.zm-widget-row-empty {
  background-color: #f6f6f6;
  padding: 1rem;
}
@media all and (pointer: coarse) {
  .zm-widget-empty.zm-widget-row > .zm-widget-inner {
    padding: 1rem 0.5rem;
  }
  .zm-widget-row-empty {
    padding: 0.75rem;
  }
  .zm-widget-row-add-column-item-4,
  .zm-widget-row-add-column-item-6 {
    display: none;
  }
}

/**
 * COLUMNS PREVIEWER
 */
.zm-widget-row-add-column-preview {
  border-top: #ccc solid 2px;
}
.zm-widget-row-add-column-preview:not(.zm-widget-row-preview-visible) {
  background-color: #ccc;
}
.zm-widget-row-add-column-preview-item {
  border-left: #ccc solid 2px;
  background-color: white;
  float: left;
  padding: 1rem 0;
}
.zm-widget-row-add-column-preview-item:first-child {
  border-left: 0;
}

/**
 * DRAG
 */
.zm-widget-row > .zm-widget-inner {
  position: static;
}
.zm-widget-row.zm-widget-drag > .zm-widget-inner {
  position: relative;
}