.zm-sidebar {
  background-color: #eee;
  position: relative;
}
.zm-sidebar .zm-sidebar-inner {
  height: 100%;
  flex-wrap: nowrap;
  border-left: #ccc solid 1px;
}
.zm-sidebar.zm-hide-all-tabs .zm-sidebar-tab {
  display: none !important;
}
.zm-sidebar .zm-sidebar-tabs {
  box-shadow: inset 1rem 0 1rem -0.5rem rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  position: relative;
  /*overflow-y: auto;*/
}
.zm-sidebar .zm-sidebar-tab {
  border-right: #ccc solid 1px;
  overflow-y: auto;
  overflow-x: hidden;
}
.zm-sidebar-tabs-inner {
  overflow-y: auto;
}
.zm-sidebar .zm-sidebar-tabs .zm-tabs {
  border-bottom: #ccc solid 1px;
}
.zm-sidebar .zm-sidebar-tabs .zm-tab-item {
  border: 0;
  padding: 1rem 0.75rem;
  float: left;
  border-radius: 0;
  width: 1.1rem;
}
.zm-sidebar .zm-sidebar-tabs .zm-tab-item + .zm-tab-item {
  border-top: #ccc solid 1px;
}
.zm-sidebar .zm-sidebar-tabs .zm-tab-item.active:not([disabled]) {
  color: black;
  border-bottom-color: #ccc;
}
.zm-sidebar-tabs .zm-tabs .zm-tab-item.active:not([disabled]) {
  background-color: #000;
  color: white;
}
.zm-sidebar-tabs .zm-tabs {
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5rem;
}
.zm-sidebar-icon {
  text-align: center;
  display: block;
  padding: 0.5rem;
  width: 100%;
  opacity: 0.25;
  box-sizing: border-box;
  line-height: 0;
  font-size: 1.5rem;
}
.zm-sidebar-icon:hover,
.zm-sidebar-logo:hover {
  opacity: 0.5;
}
.zm-sidebar-icon.active {
  opacity: 1;
}
.zm-sidebar-logo {
  margin-bottom: calc(0.25rem + 1px);
}
.zm-sidebar-logo img {
  width: 1.5rem;
  height: 1.5rem;
}
.zm-sidebar-content {
    box-shadow: inset 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.15);
    background-color: #f6f6f6;
}

.zm-sidebar-tab .zm-field-treeview {
  margin: 0 -1px;
}

/*.zm-sidebar-help {*/
/*  color: #B1A2FC;*/
/*}*/
@media all and (min-width: 768px) {
  .zm-sidebar.zm-open {
    flex-basis: 33.333vw;
  }
}
@media all and (max-width: 767px) {
  .zm-sidebar-title {
    border-left: 0;
  }
  .zm-container-inner {
    transition: flex 0.25s ease-out;
    overflow: hidden;
  }
  .zm-container-show-content .zm-container-inner {
    flex: 1;
  }
  .zm-container-inner > * {
    min-width: calc(100vw - 2.5rem);
    flex-wrap: nowrap !important;
  }
  .zm-container-show-content .zm-sidebar .zm-sidebar-inner {
    border-left: 0;
  }
}

/**
 * Transition
 */
.zm-sidebar {
  transition: flex 0.25s ease-out;
}
.zm-sidebar-tab {
  width: 0;
  overflow: hidden;
}
.zm-sidebar.zm-open {
  width: 100vw;
  flex-basis: 100vw;
}
.zm-sidebar-tab > * {
  min-width: calc(33.333vw - 3.45rem);
  flex-wrap: nowrap !important;
}
@media all and (max-width: 767px) {
  .zm-sidebar {
    width: 2.75rem;
  }
  .zm-sidebar-tabs {
    margin-right: -2px;
  }
  .zm-sidebar-tab > * {
    min-width: calc(100vw - 2.5rem);
    flex-wrap: nowrap !important;
  }
}
@media all and (min-width: 768px) {
  .zm-sidebar.zm-open {
    flex-basis: 33.333vw;
  }
}
.zm-sidebar-tabs {
  margin-left: auto;
}
