.zm-field-number > input:not([type="submit"])::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.zm-field-number > input:not([type="submit"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  line-height: 1.5rem;
  border: #ccc solid 1px;
  box-shadow: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  vertical-align: top;
}
.zm-field-number > input:not([type="submit"]):hover {
  border: #aaa solid 1px;
}
.zm-field-number > input:not([type="submit"]):focus {
  outline: 0;
  border-color: #75a9f9;
}