<div class="zm-sidebar-widgets zm-flex-container-column zm-h100">
		
	<div class="zm-flex-minimal">
		
		<!-- NOTICE -->
		<zm-dismissable type="info" key="zm-sidebar-widgets-hold">
			<span ng-if="device._isTouch && !device._isPrecise">{{ ::t('core.components.sidebar.widgets.noticesMobileDrag') }}</span>
			<span ng-if="device._isPrecise">{{ ::t('core.components.sidebar.widgets.noticesDesktopDrag') }}</span>
		</zm-dismissable>
		
		<!-- FILTER -->
		<div class="zm-p-2">
			<zm-field-input type="text" icon="search" placeholder="{{ ::t('core.components.sidebar.widgets.filterPlaceholder') }}" ng-model="filters.query" ng-disbaled="sections.length === 0" autofocus="on" />
			
			<!-- IF NO WIDGET FOUND -->
			<p ng-if="!noWidgetsAvailable && noWidgetsFound" style="text-align: center">
				{{ ::t('core.components.sidebar.widgets.noWidgetsFound') }}
			</p>
		</div>
	</div>
	
	<div class="zm-scrollable-y zm-flex-container-column">
		
		<!-- EMPTY -->
        <div class="zm-p-2 zm-text-center zm-flex-container zm-flex-align-center" ng-if="noWidgetsAvailable">
            <div>
                <i class="fa fa-exclamation-circle" style="font-size: 2rem"></i>
                <br />{{ ::t('core.components.sidebar.media.empty') }}
            </div>
        </div>
		
		<!-- TABS -->
		<zm-accordion ng-model="$root.settings.sidebar.widgets.tabs[key].visible" ng-if="section.widgets.length > 0" ng-repeat="(key, section) in sections">
			<header class="zm-flex-container zm-flex-gap zm-flex-align-center">
				<span class="zm-sidebar-title-text">
					{{ ::section.title }}
				</span>
				
				<!-- TOTAL NODES -->
				<div class="zm-badge zm-flex-minimal">
					{{ section.widgets.length }}
				</div>
				
				<!-- CHEVRON -->
				<i class="fa zm-pull-right zm-flex-minimal" ng-class="{'fa-chevron-down': $root.settings.sidebar.widgets.tabs[key].visible, 'fa-chevron-right': !$root.settings.sidebar.widgets.tabs[key].visible}"></i>
			</header>
			<content>
				<zm-field class="zm-p-2">
					<div ng-if="section.widgets.length > 0" class="zm-flex-container zm-flex-gap zm-flex-equal-size">
						
						<!-- LIST OF ITEMS (REPEAT) -->
						<div zm-draggable="draggableOptions" zm-draggable-item="dragWidget" ng-init="dragWidget = { type: widget.type }" class="zm-sidebar-widgets-item zm-widget-item" ng-repeat="widget in section.widgets">
							<div class="zm-vertical-align-middle">
								
								<!-- ICON -->
								<div class="zm-sidebar-widgets-item-icon" ng-if="widget.icon">
									<i class="fa fa-{{ ::widget.icon }}"></i>
								</div>
								
								<!-- TITLE -->
								<h4 class="zm-sidebar-widgets-item-title" ng-if="widget.title">
									{{ widget.title }}
								</h4>
								
								<!-- DESCRIPTION -->
								<p class="zm-sidebar-widgets-item-desc" ng-if="widget.desc">
									{{ widget.desc }}
								</p>
							</div>
						</div>
					</div>
				</zm-field>
			</content>
		</zm-accordion>
	</div>
</div>