.zm-logo {
  font-family: 'Rock Salt';
  grid-area: logo;
  line-height: 1rem;
}
.zm-logo img {
  max-height: 1.625rem;
  display: inline-block;
}
.zm-logo span {
  position: relative;
  top: -0.4rem;
  margin-left: 0.25rem;
}
.zm-logo a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.zm-toolbar {
  border-bottom: #ccc solid 1px;
  z-index: 3;
}
.zm-toolbar .zm-tabs {
  border-bottom: 0;
  grid-area: tabs;
}
.zm-toolbar-actions {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
}
.zm-toolbar-inner {
  padding: 0.5rem 0.5rem 0.5rem 0;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: max-content max-content auto max-content;
  grid-template-areas: "logo tabs context general";
  align-items: center;
  justify-items: start;
}
.zm-toolbar-actions-context {
  grid-area: context;
}
.zm-toolbar-actions-general {
  justify-self: end;
  grid-area: general;
}
.zm-toolbar .zm-tabs-list > .zm-tab-item:hover {
  color: rgba(0, 0, 0, 0.75);
}
.zm-toolbar .zm-tabs-list > .zm-tab-item.active {
  background-color: #75a9f9;
  color: white;
}
.zm-toolbar-actions .zm-btn-sep {
  border-left: rgba(0, 0, 0, 0.1) solid 1px;
  height: 1.65rem;
  margin: 0 0.5rem;
}
.zm-toolbar-actions .zm-btn {
  text-align: center;
}

@media all and (pointer: coarse) {
  .zm-logo {
    pointer-events: none;
  }
}


@media all and (max-width: 767px) {
  .zm-toolbar-inner {
    padding: 0.5rem;
  }
  .zm-logo span {
    display: none;
  }
  .zm-toolbar-actions .zm-btn-sep {
    height: 2.1rem;
  }
  .zm-toolbar .zm-tabs > .zm-tab-item {
    background-color: #f9f9f9;
  }
  .zm-toolbar .zm-tabs > .zm-tab-item {
    padding: 0.5rem 0;
  }
  .zm-toolbar-actions-context {
    grid-area: actions;
    width: 100%;
  }
  .zm-toolbar-sections,
  .zm-toolbar-sections .zm-btn {
    width: 100%;
  }
  .zm-toolbar-inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "actions tabs";
    grid-column-gap: 0.5rem;
    grid-row-gap: 0;
  }
  .zm-toolbar-actions-general,
  .zm-logo {
    display: none;
  }
  .zm-toolbar-actions-context zm-btn,
  .zm-toolbar-sections .zm-tab-item {
    flex: 1;
    justify-content: center;
  }
}