<div class="zm-toolbar">
	<div class="zm-toolbar-inner zm-clearfix">
		
		<!-- TABS -->
		<zm-tabs anchor="top-right" class="zm-toolbar-sections">
			<toggle>
				
				<i class="fa" ng-class="{
					'fa-cubes': config.context === 'structure',
					'fa-paint-brush': config.context === 'style',
					'fa-eye': config.context === 'preview'
				}"></i>
				
				<span ng-if="config.context === 'structure'">
					Structure
				</span>
				<!--<span ng-if="config.context === 'style'">-->
				<!--	Style-->
				<!--</span>-->
				<span ng-if="config.context === 'preview'">
					Preview
				</span>
				
				<i style="font-size: 0.5rem;" class="fa fa-chevron-down"></i>
			</toggle>
			<items>
				
				<!-- STRUCTURE -->
				<li class="zm-tab-item" ng-class="{active: config.context === 'structure'}" ng-click="setTab('structure')">
					<i class="fa fa-cubes"></i>
					Structure
				</li>
				
				<!-- STYLE -->
				<!--<li class="zm-tab-item" ng-class="{active: config.context === 'style'}" ng-click="setTab('style')">-->
				<!--	<i class="fa fa-paint-brush"></i>-->
				<!--	Style-->
				<!--</li>-->
				
				<!-- PREVIEW -->
				<li class="zm-tab-item" ng-class="{active: config.context === 'preview'}" ng-click="setTab('preview')">
					<i class="fa fa-eye"></i>
					Preview
				</li>
			</items>
		</zm-tabs>
		
		<div class="zm-toolbar-actions zm-toolbar-actions-context">
			
			<!-- UNDO -->
			<zm-btn ng-disabled="!history.canUndo" zm-tooltip="Undo" ng-click="history.undo()">
				<i class="fa fa-undo"></i>
			</zm-btn>
			
			<!-- REDO -->
			<zm-btn ng-disabled="!history.canRedo" zm-tooltip="Redo" ng-click="history.redo()">
				<i class="fa fa-repeat"></i>
			</zm-btn>
			
			<!--<div class="zm-btn-sep zm-hide-mobile"></div>-->
			
			<!-- DUPLICATE -->
			<!--<zm-btn ng-disabled="zm.widget.totalSelected === 0" class="zm-hide-mobile zm-btn-info" zm-tooltip="Duplicate" ng-click="zm.action(zm.widget.duplicate)">-->
			<!--	<i class="fa fa-copy"></i>-->
			<!--</zm-btn>-->
		</div>
		
		<div class="zm-toolbar-actions zm-toolbar-actions-general">
			
			<!-- EXPORT -->
			<zm-btn zm-tooltip="Export" class="zm-hide-mobile" ng-click="zm.content.export()">
				<i class="fa fa-download"></i>
			</zm-btn>
			
			<!-- IMPORT -->
			<zm-btn zm-tooltip="Import" class="zm-hide-mobile" ng-click="zm.content.import()">
				<i class="fa fa-upload"></i>
			</zm-btn>
			
			<div class="zm-btn-sep zm-hide-mobile"></div>
			
			<!-- DEBUG -->
			<!--<zm-btn zm-tooltip="Debug" class="zm-hide-mobile" ng-class="{active: config.debug}" ng-click="toggleDebug()">-->
			<!--	<i class="fa fa-bug"></i>-->
			<!--</zm-btn>-->
			
			<!-- HELP -->
			<!--<zm-btn ng-class="{active: true}" zm-tooltip="Help">-->
			<!--	<i class="fa fa-question-circle"></i>-->
			<!--</zm-btn>-->
			
			<!-- DOC -->
			<zm-btn zm-tooltip="Documentation" class="zm-hide-mobile" ng-click="$modal.open('doc')">
				<i class="fa fa-book"></i>
				Doc
			</zm-btn>
		
			<!-- REMOVE SELECTED -->
			<!--<zm-btn zm-tooltip="Remove" ng-disabled="zm.widget.totalSelected === 0" class="zm-hide-mobile zm-btn-warning" ng-click="zm.action(zm.widget.removeAllSelected)">-->
			<!--	<i class="fa fa-trash-o"></i>-->
			<!--</zm-btn>-->
		</div>
	</div>
</div>