.zm-widget {
  position: relative;
  cursor: default;
}
.zm-context-structure .zm-widget > .zm-widget-highlightable,
.zm-context-style .zm-widget > .zm-widget-highlightable {
  outline: #ccc solid 1px;
  outline-offset: -1px;
}
@media all and (pointer: fine) {
  .zm-widget.zm-highlighted:not(.zm-drop-activated) > .zm-widget-highlightable {
    outline-color: #999;
    z-index: 2;
  }
}
@media all and (pointer: coarse) {
  .zm-widget-container:not(.zm-context-preview) .zm-widget.zm-selected:not(.zm-drop-activated) > .zm-widget-highlightable {
    outline-color: #999;
    z-index: 2;
  }
}
.zm-widget-container:not(.zm-context-preview) .zm-widget-inner {
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f1fcfd;
}
/*.zm-widget-inner:after {*/
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/
.zm-widget-container:not(.zm-widget-drag-parent):not(.zm-context-preview) .zm-widget.zm-selected:not(.zm-drop-activated) {
  /*outline-color: #75a9f9;*/
  z-index: 1;
}
.zm-widget-container:not(.zm-widget-drag-parent):not(.zm-context-preview) .zm-widget.zm-selected:not(.zm-drop-activated) > .zm-selected-bg,
.zm-widget-container:not(.zm-widget-drag-parent):not(.zm-context-preview) .zm-widget.zm-selected:not(.zm-drop-activated) > .zm-widget-inner {
  /*background-color: rgba(117,169,249, 0.25);*/
  background-color: #DBEDC7 !important;
}
.zm-widget.zm-widget-focus {
  box-shadow: 0 1.5rem 1rem -0.5rem rgba(0, 0, 0, 0.25);
  outline-width: 0.5rem;
  background-color: white;
  z-index: 5;
}

/**
 * Add row before/after
 */
.zm-widget-add-before,
.zm-widget-add-after {
  position: relative;
  z-index: 25;
  opacity: 0;
  top: -1px;
}
.zm-widget-add-before .fa,
.zm-widget-add-after .fa {
  position: absolute;
  top: -0.35rem;
  left: calc(50% - 1.4rem);
  font-size: 1rem;
  padding: 0 1rem;
  z-index: 3;
}
@media all and (pointer: coarse) {
  .zm-widget-add-before .fa, .zm-widget-add-after .fa {
    font-size: 1.5rem;
    top: -0.4rem
  }
  .zm-widget-child-add {
    display: none !important;
  }
}
.zm-widget-add-before .fa:hover,
.zm-widget-add-after .fa:hover {
  color: #75a9f9;
}
.zm-widget-add-sep {
  height: 3px;
  margin-top: -1px;
  position: absolute;
  width: 2rem;
  left: calc(50% - 1rem);
  z-index: 2;
  background-color: white;
  cursor: inherit;
}
.zm-widget-add-before:hover .zm-widget-add-sep,
.zm-widget-add-after:hover .zm-widget-add-sep {
  cursor: pointer;
}
.zm-widget-add-before .zm-widget-add-sep-highlight,
.zm-widget-add-after .zm-widget-add-sep-highlight {
  margin-top: -1px;
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  background-color: #75a9f9;
  opacity: 0;
  pointer-events: none;
}
.zm-widget-add-before:hover .zm-widget-add-sep-highlight,
.zm-widget-add-after:hover .zm-widget-add-sep-highlight {
  opacity: 1;
  pointer-events: all;
}
.zm-widget:not(.zm-widget-drag-parent) .zm-widget-child:hover > .zm-widget-add-before,
.zm-widget:not(.zm-widget-drag-parent) .zm-widget-child:hover > .zm-widget-add-after {
  opacity: 1;
}

/**
 * Drag
 */
.zm-widget-drag {
  opacity: 0.50 !important;
  pointer-events: none !important;
  z-index: 100;
}
.zm-widget-drag .zm-widget-item {
  opacity: 0.50 !important;
}
.zm-drop-placeholder {
  background-color: #000000;
  position: absolute;
  z-index: 25;
  pointer-events: none !important;
}
.zm-widget .zm-drop-inside-activate {
  background-color: rgba(0,0,0, 0.5)  !important;
  touch-action: none; /* Required by InteractJS */
}
.zm-widget .zm-drop-inside-activate.zm-drop-inside-activate-invalid {
  background-color: red;
}
.zm-drop-inside-activate .zm-widget {
  background-color: white;
}
.zm-drop-placeholder-vertical:after {
  content: " ";
  position: absolute;
  top: calc(50% - 0.75rem);
  width: 0; 
  height: 0; 
  z-index: 1;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
}
/*.zm-drop-placeholder-horizontal {*/
/*  margin-top: -2px;*/
/*}*/
.zm-drop-placeholder-after.zm-drop-placeholder-horizontal {
  margin-top: -3px;
}
.zm-drop-placeholder-vertical {
  margin-left: -2px;
}
.zm-drop-placeholder-after.zm-drop-placeholder-vertical:after {
  border-left: 0.75rem solid #000;
  left: 3px;
}
.zm-drop-placeholder-before.zm-drop-placeholder-vertical:after {
  border-right: 0.75rem solid #000;
  left: -0.75rem;
}
.zm-widget-drag-parent {
  z-index: 20;
}
.zm-widget-row > .zm-widget-inner > .zm-drop-placeholder-vertical {
  margin-top: 0.5rem;
}
.zm-drop-placeholder-horizontal.zm-drop-placeholder-after {
    margin-top: -1px;
}

/**
 * Add new widget modal
 */
.zm-widget-add-item {
  min-width: 8rem;
  border: #ddd solid 1px;
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.5rem;
}
.zm-widget-add-item:hover {
  cursor: pointer;
  color: #75a9f9;
  border-color: #75a9f9;
}
.zm-widget-add-item-icon {
  font-size: 3rem;
}
.zm-widget-add-item-title {
  margin: 0;
}
.zm-widget-add-item-desc {
  font-size: 0.8rem;
  margin-bottom: 0;
}