/**
 * Generic style
 */
.zm-widget-column {
  flex-grow: 1;
  margin: 0.5rem;
}
.zm-widget-container:not(.zm-context-preview) .zm-widget-column > .zm-widget-inner {
  background-color: white;
}
.zm-widget-container.zm-context-preview .zm-widget-column {
  margin: 0;
}
.zm-widget-add {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
.zm-widget-add .fa:hover {
  color: #75a9f9;
}
.zm-widget-column.zm-highlighted > .zm-widget-inner > .zm-widget-add {
  opacity: 1;
}
.zm-widget-column.zm-highlighted > .zm-widget-inner > .zm-widget-add.hide {
  opacity: 0 !important;
}
.zm-widget-row > .zm-widget-inner > .zm-widget {
  width: 100%;
  position: relative;
  padding: 0;
}
.zm-widget-row > .zm-widget-inner > .zm-widget > .zm-widget-inner {
  height: 100%;
}
.zm-widget-container:not(.zm-context-preview) .zm-widget-column > .zm-widget-inner {
  padding: 1rem;
}
@media (pointer: coarse) {
  .zm-widget-container:not(.zm-context-preview) .zm-widget-column .zm-widget-inner .zm-widget-inner:not(.zmAcceptWidgetInside) {
    padding: 0.5rem;
  }
  .zm-widget-column > .zm-widget-inner > .zm-widget-add {
    display: none !important;
  }
  .zm-widget-column {
    margin: 0;
  }
  .zm-widget-container:not(.zm-context-preview) .zm-widget-column > .zm-widget-inner {
    padding: 0.75rem;
  }
  .zm-widget-container:not(.zm-context-preview) .zm-widget-column.zm-widget-empty > .zm-widget-inner {
    min-height: 4rem;
  }
}
.zm-widget-column zm-widget + zm-widget > .zm-widget {
  margin-top: -1px;
}
.zm-widget-column.zm-widget-empty > .zm-widget-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/**
 * Dividing
 */
.zm-widget-divide {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 0;
  left: calc(50% - 1.5rem);
  font-size: 1rem;
  line-height: 1rem;
  
  transition-duration: .15s;
  transition-property: opacity, height;
  transition-timing-function: ease-out;
}
.zm-widget-column.zm-highlighted > .zm-widget-heading .zm-widget-divide {
  opacity: 1;
}
.zm-widget-column .zm-widget-divide:after {
  transition: height 200ms ease-in;
  content: " ";
  position: absolute;
  top: 1rem;
  left: calc(50% - 1.75px);
  border-right: #999 solid 3px;
  height: 0;
  z-index: 10;
}
.zm-widget-column.zm-divide-hover > .zm-widget-heading .zm-widget-divide:after {
  height: calc(100% - 1rem - 1px);
}
.zm-widget-column.zm-divide-hover > .zm-widget-heading .zm-widget-divide {
  height: 100%;
}
.zm-widget-divide .fa {
  top: -0.5rem;
  position: relative;
  padding: 0 1rem;
  z-index: 2;
}
.zm-widget-divide:before {
  content: " ";
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  z-index: 1;
}

/**
 * Resizing
 */
.zm-widget-column .zm-widget-column-resize-handler {
  position: absolute;
  z-index: 10;
  right: -1rem;
  top: calc(50% - 0.85rem);
  height: 1.8rem;
  width: 1rem;
  cursor: col-resize;
  font-size: 1rem;
  text-align: center;
}
.zm-widget-column .zm-widget-column-resize-handler .fa {
  background-color: #ccc;
}
.zm-widget-column-resize-handler-bar {
  position: absolute;
  z-index: 1;
  width: 1rem;
  opacity: 0;
  pointer-events: none;
  
  transition-duration: .15s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */
}
.zm-widget-column-resize-handler-bar .zm-bar {
  width: 1px;
  height: 1.8rem;
  float: left;
  background-color: #ccc !important;
}
.zm-widget-column-resize-handler-bar .zm-bar + .zm-bar {
  margin-left: 2px;
}
.zm-widget-row:hover > .zm-widget-inner > .zm-widget-column > .zm-widget-heading .zm-widget-column-resize-handler-bar {
  opacity: 1;
}
.zm-widget-column-resize-handler.active .zm-widget-column-resize-handler-bar,
.zm-widget-column-resize-handler:hover .zm-widget-column-resize-handler-bar {
  opacity: 1 !important;
}
@media all and (pointer: coarse) {
  .zm-widget-column .zm-widget-column-resize-handler {
    right: -0.45rem;
  }
  .zm-widget-column-resize-handler-bar .zm-bar:first-child,
  .zm-widget-column-resize-handler-bar .zm-bar:last-child {
    display: none;
  }
  .zm-widget-column-resize-handler-bar .zm-bar:nth-child(2) {
    width: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;
  }
}
.zm-widget-column.zm-is-resizing .zm-widget-column-resize-handler .zm-widget-column-resize-handler-bar .zm-bar,
.zm-widget-column-resize-handler:hover .zm-widget-column-resize-handler-bar .zm-bar {
  background-color: #999 !important;
}
.zm-cursor-drag-all .zm-widget-column-resize-handler,
.zm-widget-column.zm-is-resizing .zm-widget-column-resize-handler:not(.active) .zm-widget-column-resize-handler-bar {
  opacity: 0 !important;
}
.zm-widget-column > .zm-widget-inner > .zm-widget-column-size {
  font-size: 2rem;
  position: absolute;
  top: calc(50% - 1.75rem);
  left: calc(50% - 1.5rem);
  z-index: 10;
}
.zm-widget-column-size .zm-widget-column-size-number {
  min-width: 3rem;
  display: block;
  text-align: center;
  padding: 0.65rem 0;
  background-color: #B1A2FC;
  color: white;
  border-radius: 10%;
}
.zm-widget-column > .zm-widget-heading > .zm-widget-resize-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}