<div style="flex: {{ column.size }}" class="zm-flex-container-column" ng-class="{'zm-divide-hover': divide.isHover, 'zm-is-resizing': resize.isResizing}">
	<div class="zm-widget-heading zm-flex-minimal">
		
		<!-- DEBUG -->
		<zm-widget-debug widget="widget" />
		
		<!-- RESIZE HANDLER -->
		<div ng-click="$event.stopPropagation()" ng-mouseenter="$event.stopPropagation()" ng-show="session.context === 'structure' && !dropActivated && $index !== row.childs.length - 1" class="zm-widget-column-resize-handler" ng-class="{active: resize.handlerActive}">
			<div class="zm-widget-column-resize-handler-bar">
				<div class="zm-bar"></div>
				<div class="zm-bar"></div>
				<div class="zm-bar"></div>
			</div>
		</div>
		
		<!-- SEPARATOR -->
		<!--<div class="zm-widget-resize-overlay" ng-if="resize.isResizing"></div>-->
		<!--<div ng-if="column.size > 1" class="zm-widget-divide">-->
		<!--	<i ng-click="divide.action($event)" ng-mouseenter="divide.isHover = true" ng-mouseleave="divide.isHover = false" class="fa fa-scissors" zm-clickable zm-zoomable></i>-->
		<!--</div>-->
	</div>
	
	<div class="zm-widget-inner zm-widget-highlightable zm-widget-item zm-draggable" zm-accept-widget-inside>
		
		<!-- SIZE -->
		<div ng-if="session.context === 'structure'" zm-visible="resize.isResizing" class="zm-widget-column-size">
			<span class="zm-widget-column-size-number">{{ widget.size }}</span>
		</div>
		
		<!-- LIST OF CHILD WIDGETS -->
		<zm-widget-childs></zm-widget-childs>
		
		<!-- ADD WIDGET (EMPTY) -->
		<div ng-if="session.context === 'structure' && column.childs.length === 0" ng-class="{hide: divide.isHover}" class="zm-widget-add">
			<i ng-click="panel.open(column); $event.stopPropagation()" class="fa fa-plus" zm-clickable zm-zoomable></i>
		</div>
	</div>
</div>