.zm-container-inner {
  position: relative;
  flex-basis: calc(66.666vw);
}
.zm-container-scrollable {
  margin-top: -1px;
  padding-top: 1px;
  /*height: calc(100% + 1px);*/
  /*height: 100%;*/
  overflow: auto;
  position: relative;
}
/*.zm-context-structure .zm-container-scrollable {*/
/*  padding-bottom: 5rem;*/
/*}*/
.zm-container-notices-scrollable {
  overflow: auto;
  max-height: 25vh;
}
.zm-container-notices zm-dismissable:first-child {
  border-top: #ccc solid 1px;
}
.zm-container-notices zm-dismissable {
  display: block;
}
.zm-container-notices zm-dismissable + zm-dismissable {
  margin-top: -0.25rem;
}
zm-widget[type="container"] {
  position: relative;
  display: block;
  z-index: 2;
  /*overflow: hidden;*/
}
.zm-container-add-row,
.zm-container,
.zm-advanced-inner,
.zm-container-settings,
.zm-container-inner > .zm-widget-child:first-child > zm-widget[type="row"] > .zm-widget-row > .zm-widget-inner {
    box-shadow: inset 0 0.7rem 0.5rem -0.5rem rgba(0, 0, 0, 0.1);
}

.zm-container {
	position: relative;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
  padding: 0;
  outline: 0;
  border: 0;
  height: 100%;
  flex-wrap: nowrap;
	
	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
 .zm-widget-container:not(.zm-context-preview) .zm-container-inner {
  background: repeating-linear-gradient(
    45deg,
    #f3f3f3,
    #f3f3f3 0.75rem,
    #fff 0.75rem,
    #fff 1.5rem
  );
  z-index: 1;
}
.zm-container .zm-container-add-row {
  text-align: center;
  padding: 3.5rem 0;
  outline: #ccc solid 1px;
  outline-offset: -1px;
  background-color: white;
}
@media all and (pointer: coarse) {
  /*.zm-container-add-row {*/
  /*  display: none;*/
  /*}*/
}
.zm-container .zm-container-add-row .fa {
  font-size: 3rem;
}
.zm-widget-container:not(.zm-widget-empty) > .zm-container-inner > .zm-widget-child > .zm-widget-add-sep {
  background-color: #f6f6f6;
}