<div class="zm-container zm-flex-container zm-context-{{ config.context }}">
	<div class="zm-container-inner">
		<div class="zm-flex-container-column" style="height: 100%">
			<div class="zm-container-scrollable" ng-click="zm.widget.unselectAll()" zm-accept-widget-inside>
				
				<!-- LIST OF CHILD WIDGETS -->
				<zm-widget-childs type="'row'" childs="container.childs"></zm-widget-childs>
				
				<!-- ADD ROW -->
				<!--<div class="zm-container-add-row" ng-if="container.childs.length === 0">-->
				<!--	<i class="fa fa-plus-circle" zm-clickable zm-zoomable ng-click="container.addNewChild('row')"></i>-->
				<!--</div>-->
			</div>
			
			<!-- NOTICE -->
			<zm-dismissable ng-if="container.childs.length === 1 && container.childs[0].childs.length === 0" type="info" key="zm-widget-container-first-row" class="zm-flex-minimal">
				Choose the number of column(s) you desire.
			</zm-dismissable>
			
			<!-- NOTICE -->
			<zm-dismissable ng-if="container.childs.length === 0" type="info" key="zm-widget-container-first-time" class="zm-flex-minimal">
				Start by opening the widgets drawer and adding a new row.
			</zm-dismissable>
			
			<!-- NOTICE -->
			<zm-dismissable ng-if="zm.widget.totalSelected > 0" type="info" key="zm-widget-container-first-drop" class="zm-flex-minimal">
				<span ng-if="device._isTouch && !device._isPrecise">Tap multiple time the same widget to loop through its parents. Now tap and hold the selection to drag it around.</span>
				<span ng-if="device._isPrecise">Click and hold the selection to drag it around.</span>
			</zm-dismissable>
			
			<!-- QUICK ACTIONS -->
			<div ng-if="zm.widget.totalSelected > 0 && config.context !== 'preview'" class="zm-quick-actions zm-flex-minimal">
				<div class="zm-flex-container zm-flex-container-gap">
					
					<zm-tabs anchor="bottom-left" zm-tabs-keep-open>
						<items>
							<!-- REMOVE -->
							<!--<li class="zm-bg-warning" ng-click="zm.action(zm.widget.removeAllSelected)">-->
							<li ng-click="zm.action(zm.widget.removeAllSelected)">
								<i class="fa fa-trash-o"></i>
								Remove
							</li>
							<!-- DUPLICATE -->
							<!--<li class="zm-bg-info" ng-click="zm.action(zm.widget.duplicate)">-->
							<li ng-click="zm.action(zm.widget.duplicate)">
								<i class="fa fa-copy"></i>
								Duplicate
							</li>
						</items>
					</zm-tabs>
					
					<!-- EDIT -->
					<zm-btn style="flex: 3" ng-disabled="!zm.widget.canEdit()" ng-click="zm.widget.edit()">
						<i class="fa fa-pencil fa-margin-right"></i>
						Edit
					</zm-btn>
				</div>
			</div>
		</div>
		<div class="zm-container-overlays"></div>
	</div>
	
	<!-- SIDEBAR -->
	<zm-sidebar class="zm-flex-minimal zm-flex-container-column" ng-if="config.context !== 'preview'"></zm-sidebar>
</div>