<div class="zm-sidebar-media">
    
    <!-- NOTICE -->
    <zm-dismissable type="info" key="zm-sidebar-media-intro">
    	Every media added in your document is added here beforehand.
    </zm-dismissable>
	
	<!-- FILTER -->
    <div class="zm-content-small">
        <zm-field-text icon="search" placeholder="Filter media..." ng-model="filters.query" autofocus="on" />
        
        <!-- IF NO WIDGET FOUND -->
        <p ng-if="noMediaFound" style="text-align: center">
        	No media found based on your search criteria.
    	</p>
    </div>
    
    <!-- DETAILS -->
    <div class="zm-sidebar-group">
        <div class="zm-sidebar-title" ng-click="tabs.images.visible = !tabs.images.visible">
            Images
            
            <i class="fa zm-pull-right" ng-class="{'fa-chevron-down': tabs.images.visible, 'fa-chevron-right': !tabs.images.visible}"></i>
        </div>
        <div class="zm-sidebar-content zm-content-small zm-mansory-container" ng-show="tabs.images.visible">
            
            <!-- LIST OF ITEMS (REPEAT) -->
			<div zm-draggable="draggableOptions" zm-draggable-item="image.media" class="zm-sidebar-media-item zm-media-item" ng-repeat="image in medias.images">
			    <div class="zm-sidebar-media-item-image">
			        <img ng-src="{{ ::image.src }}" />
			    </div>
			    <div class="zm-sidebar-media-item-desc">
				    {{ ::image.media.getFile().name }}
				</div>
			</div>
        </div>
    </div>
</div>