<div class="zm-sidebar-debug">
    
    <!-- NOTICE -->
    <zm-dismissable locked type="warning" key="zm-sidebar-debug-intro">
    	<strong>Warning!</strong> Use these actions with caution.
    </zm-dismissable>
    
    <!-- DETAILS -->
    <div class="zm-sidebar-group">
        <div class="zm-sidebar-title" ng-click="details.visible = !details.visible">
            Details
            
            <i class="fa zm-pull-right" ng-class="{'fa-chevron-down': details.visible, 'fa-chevron-right': !details.visible}"></i>
        </div>
        <div class="zm-sidebar-content" ng-show="details.visible">
            <div class="zm-content-small">
                <strong>Version:</strong> {{ version }}
            </div>
        	<div class="zm-content-small">
        	    <strong>Total widgets:</strong> {{ zm.widget.total }}
            </div>
        	<div class="zm-content-small">
        	    <strong>Selected widgets:</strong> {{ zm.widget.totalSelected }}
            </div>
        	<div class="zm-content-small">
        	    <strong>History:</strong> {{ history.position || 0 }} / {{ history.changes.length || 0 }}
            </div>
        </div>
    </div>

	<!-- ACTIONS -->
    <div class="zm-sidebar-group">
        <div class="zm-sidebar-title" ng-click="actions.visible = !actions.visible">
            Actions
            
            <i class="fa zm-pull-right" ng-class="{'fa-chevron-down': actions.visible, 'fa-chevron-right': !actions.visible}"></i>
        </div>
        <div class="zm-sidebar-content" ng-show="actions.visible">
            <div class="zm-content-small">
                <zm-btn ng-click="dump()">Dump to console</zm-btn>
            	<zm-btn ng-click="zm.session.flushHistory()">Flush history only</zm-btn>
            	<zm-btn ng-click="zm.session.flushAll()">Flush all</zm-btn>
        	</div>
        </div>
    </div>
</div>