.zm-field-switch {
  cursor: pointer;
}
.zm-field-switch .fa-toggle-on {
  color: #75a9f9;
}
.zm-field-switch-toggle,
.zm-field-switch-title {
  display: inline-block;
}
.zm-field-switch-toggle {
  padding-right: 1em;
  font-size: 1.25em;
  position: relative;
  top: 0.1em;
}