.zm-tooltip {
  position: fixed;
  opacity: 0;
  z-index: 11000;
}
.zm-tooltip.zm-visible {
  opacity: 1;
}
.zm-tooltip-inner {
  position: relative;
  top: 0.5rem;
  background-color: black;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.2rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.zm-tooltip-pointer {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid black;
  z-index: 2;
  position: relative;
  top: -1.75rem;
  left: 50%;
  margin-left: -0.5rem;
}