.zm-toolbar[name="main"] {
  background-color: white;
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.25);
}
.zm-route-home {
	background-color: #aa8fd8;
	position: relative;
	z-index: 0;
}
.zm-page > .zm-container {
  z-index: 2;
}
.zm-page,
.zm-page a {
	color: white;
}
.zm-route_wrapper::after {
  content: " ";
  left: -50vw;
  top: -50vh;
  position: absolute;
  width: 200vw;
  height: 200vh;
  background: url('../app/assets/img/logo-light.png');
  background-size: 10vmax;
  pointer-events: none;
  opacity: 0.05;
  transform: rotateZ(8deg);
  animation: appBgMove 4.75s infinite linear;
}
@keyframes appBgMove {
  0% {
	  transform: rotateZ(8deg) translateX(10vmax);
  }
  100% {
	  transform: rotateZ(8deg) translateX(0vmax);
  }
}