.zm-iframe-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
}
.zm-iframe-container .zm-loading  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    font-size: 2rem;
}
.zm-iframe-container .zm-loading .zm-loading-bar {
    display: inline-block;
    position: relative;
    top: calc(50% - 1rem);
    width: 50%;
}
.zm-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  float: left;
  max-width: 100%;
  height: 100%;
}