.zm-badge {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}
.zm-badge.zm-empty {
  background-color: rgba(0, 0, 0, 0.1);
}