<div class="zm-sidebar" ng-class="{'zm-open': tabs.showContent, 'zm-hide-all-tabs': tabs.hidden}">
	<div class="zm-sidebar-inner zm-clearfix zm-flex-container">
		<div ng-show="tabs.showContent" class="zm-sidebar-tab">
			
			<!-- DEBUG -->
			<div class="zm-sidebar-group" ng-if="config.debug">
				<div class="zm-sidebar-title" ng-click="settings.debugVisible = !settings.debugVisible" zm-clickable>
					Debug
					
					<i class="fa zm-pull-right" ng-class="{'fa-chevron-down': settings.debugVisible, 'fa-chevron-right': !settings.debugVisible}"></i>
				</div>
				<div class="zm-sidebar-content" ng-show="settings.debugVisible">
					<div class="zm-content-small">
						<p>
							<strong>Selected:</strong> {{ zm.widget.totalSelected }}
							<br /><strong>History:</strong> {{ history.position || 0 }} / {{ history.changes.length || 0 }}
						</p>
						
						<zm-btn ng-click="zm.session.flushHistory()">Flush history</zm-btn>
						<zm-btn ng-click="zm.session.flushAll()">Flush all</zm-btn>
					</div>
				</div>
			</div>
			
			<!-- WORKSPACE -->
			<div ng-show="config.sidebar.tabs.workspace.visible">
				<zm-sidebar-workspace></zm-sidebar-workspace>
			</div>
				
			<!-- ADVANCED -->
			<!--<div ng-show="config.sidebar.tabs.advanced.visible">-->
			<!--	<zm-sidebar-advanced></zm-sidebar-advanced>-->
			<!--</div>-->
			
			<!-- WIDGETS -->
			<div ng-show="config.sidebar.tabs.widgets.visible && config.context === 'structure'">
				<zm-sidebar-widgets></zm-sidebar-widgets>
			</div>
		</div>
		<div class="zm-sidebar-tabs zm-flex-minimal">
			<ul class="zm-tabs zm-tabs-vertical-right">
				<li ng-class="{'active': config.sidebar.tabs.workspace.visible}" ng-click="tabs.toggle('workspace')" class="zm-tab-item">
					Workspace
				</li>
				<!--<li ng-class="{'active': config.sidebar.tabs.advanced.visible}" ng-click="tabs.toggle('advanced')" class="zm-tab-item">-->
				<!--	Advanced-->
				<!--</li>-->
				<li ng-show="config.context === 'structure'" ng-class="{'active': config.sidebar.tabs.widgets.visible}" ng-click="tabs.toggle('widgets')" class="zm-tab-item">
					Widgets
				</li>
			</ul>
			
			<a class="zm-sidebar-logo" href="http://zemit.com" target="_blank">
				<img src="/src/assets/img/logo-empty.png" />
			</a>
		</div>
	</div>
</div>