.zm-sidebar {
  background-color: #eee;
  position: relative;
}
.zm-sidebar .zm-sidebar-inner {
  height: 100%;
  flex-wrap: nowrap;
  border-left: #ccc solid 1px;
}
.zm-sidebar.zm-hide-all-tabs .zm-sidebar-tab {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.zm-sidebar .zm-sidebar-tabs {
  box-shadow: inset 1rem 0 1rem -0.5rem rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  position: relative;
}
.zm-sidebar .zm-sidebar-tab {
  border-right: #ccc solid 1px;
  overflow-y: auto;
  overflow-x: hidden;
}
.zm-sidebar .zm-sidebar-tabs .zm-tabs {
  border-bottom: #ccc solid 1px;
}
.zm-sidebar .zm-sidebar-tabs .zm-tab-item {
  border: 0;
  padding: 1rem 0.75rem;
  float: left;
  border-radius: 0;
  width: 1.1rem;
}
.zm-sidebar .zm-sidebar-tabs .zm-tab-item + .zm-tab-item {
  border-top: #ccc solid 1px;
}
.zm-sidebar .zm-sidebar-tabs .zm-tab-item.active {
  color: black;
  border-bottom-color: #ccc;
}
.zm-sidebar-group + .zm-sidebar-group > .zm-sidebar-title {
  border-top: #ccc solid 1px;
}
.zm-sidebar-group + .zm-sidebar-group {
  margin-top: -1px;
}
.zm-sidebar-title {
  padding: 0.5rem 1rem;
  background-color: white;
  border: #ccc solid 1px;
  border-left: 0;
  position: relative;
  z-index: 2;
  margin-right: -1px;
}
.zm-sidebar-title:hover {
  z-index: 3;
}
.zm-sidebar-title .fa {
  position: relative;
  top: 0.05rem;
  min-width: 1rem;
  text-align: center;
}
.zm-sidebar-tabs .zm-tabs .zm-tab-item.active {
  background-color: #000;
  color: white;
}
.zm-sidebar-tabs .zm-tabs {
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5rem;
}
.zm-sidebar-icon {
  text-align: center;
  display: block;
  padding: 0.5rem;
  width: 100%;
  opacity: 0.25;
  box-sizing: border-box;
  line-height: 0;
  font-size: 1.5rem;
}
.zm-sidebar-logo {
  position: absolute;
  bottom: 0.25rem;
}
.zm-sidebar-icon:hover,
.zm-sidebar-logo:hover {
  opacity: 0.5;
}
.zm-sidebar-icon.active {
  opacity: 1;
}
.zm-sidebar-logo img {
  max-width: 100%;
}
@media all and (min-width: 768px) {
  .zm-sidebar.zm-open {
    flex-basis: 33.333vw;
  }
}
@media all and (max-width: 767px) {
  .zm-sidebar-title {
    border-left: 0;
  }
  .zm-sidebar-show-content .zm-container-inner {
    display: none;
  }
  .zm-sidebar-show-content .zm-sidebar .zm-sidebar-inner {
    border-left: 0;
  }
  .zm-sidebar-show-content .zm-sidebar {
    flex: 100%;
  }
}