.zm-draggable-dragged-item {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
.zm-draggable-active {
  pointer-events: none !important;
}
.zm-draggable-container {
  pointer-events: all !important;
}