<div class="zm-treeview-content zm-clearfix" ui-tree-handle>
	<a class="zm-treeview-btn zm-treeview-btn-folder" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="this.toggle()">
		<span class="fa" ng-class="{'fa-folder-o': collapsed, 'fa-folder-open-o': !collapsed}"></span>
	</a>
	<a class="zm-treeview-btn zm-treeview-btn-file" ng-if="!node.nodes || node.nodes.length === 0" data-nodrag>
		<span class="fa fa-file-o"></span>
	</a>
	
	<span class="zm-treeview-label">
		{{ ::node.title }}
	</span>
	
	<!--<div class="zm-pull-right">-->
	<!--	<a class="zm-treeview-btn zm-treeview-btn-remove" data-nodrag ng-click="this.remove()">-->
	<!--		<span class="fa fa-remove"></span>-->
	<!--	</a>-->
	<!--	<a class="zm-treeview-btn zm-treeview-btn-add" data-nodrag ng-click="this.newSubItem()">-->
	<!--		<span class="fa fa-plus-circle"></span>-->
	<!--	</a>-->
	<!--</div>-->
</div>
<ol class="zm-treeview-list" ui-tree-nodes ng-model="node.nodes" ng-class="{'zm-hidden': collapsed}">
	<li class="zm-treeview-list-item" ng-repeat="node in node.nodes" ui-tree-node ng-include="template"></li>
</ol>