#zm_modal_doc .zm-modal-inner {
  min-width: 75vw;
}
#zm_modal_doc .zm-modal-body {
	padding: 0;
}
#zm_modal_doc .zm-doc {
  height: 75vh;
}
#zm_modal_doc .zm-doc-inner,
#zm_modal_doc .zm-iframe-container {
  width: 100%;
  height: 100%;
  border: 0;
  float: left;
}