.zm-widget-debug {
    z-index: 1;
    font-size: 0.75rem;
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 0.25rem;
    line-height: 1rem;
}
.zm-widget-debug-item {
	display: inline-block;
	margin-right: 0.5rem;
}
.zm-widget-debug-item label {
	font-weight: bold;
}