<div class="zm-sidebar-workspace">
    
    <!-- NOTICE -->
	<zm-dismissable type="info" key="zm-sidebar-workspace-first-time">
		Each workspace contains blocks of contents. A node can instanciate other nodes, that's how you create layouts and page subsets.
	</zm-dismissable>
	
	<!-- FILTER -->
    <div class="zm-content-small">
        <zm-field-text icon="search" placeholder="Filter nodes..." ng-model="filters.query" autofocus="on" />
    </div>
    
	<div class="zm-sidebar-group" ng-repeat="organization in workspace.organizations" ng-if="workspace.organizations.length > 0">
        <div class="zm-sidebar-title zm-flex-container" ng-click="$root.config.sidebar.workspace.tabs[organization.key].visible = !$root.config.sidebar.workspace.tabs[organization.key].visible" zm-clickable>
            
            <span class="zm-sidebar-title-text">
                {{ ::organization.title }}
            </span>
            
            <!-- TOTAL NODES -->
            <div class="zm-badge zm-flex-minimal">
            	{{ stats.countNodes(organization.data) }}
            </div>
            
            <i class="fa zm-pull-right zm-flex-minimal" ng-class="{'fa-chevron-down': $root.config.sidebar.workspace.tabs[organization.key].visible, 'fa-chevron-right': !$root.config.sidebar.workspace.tabs[organization.key].visible}"></i>
        </div>
        <div class="zm-sidebar-content" ng-show="$root.config.sidebar.workspace.tabs[organization.key].visible">
        	
        	<!-- TREEVIEW -->
        	<zm-field-treeview ng-model="organization.data" options="{
            	canAdd: true
        	}" />
		</div>
    </div>
</div>