.zm-sidebar-workspace .zm-sidebar-content {
  padding: 0;
}
.zm-sidebar-workspace .zm-treeview-btn-folder {
  background-color: #f4de95;
}
.zm-sidebar-workspace .zm-treeview-btn-file {
  background-color: white;
  padding-right: 0;
}