server {
    listen 80;
    
    set $name 'zemit.local';
    server_name zemit.local;
    
    index index.html;
    root /web/$name;
    
    access_log /var/log/nginx/$name.access.log;
    error_log  /var/log/nginx/$name.error.log info;

    error_page  404         = @notfound;
    error_page  500 502 504 = @server_error;
    error_page  503         = @maintenance;

    location / {
    
        try_files $uri $uri/ @rewrite;
    }
    
    location @notfound {
        try_files /src/index.html =404;
    }

    location @server_error {
        try_files /src/index.html =500;
    }

    location @maintenance {
        try_files /src/index.html =503;
    }
    
    location @rewrite {
        
        rewrite ^(.*)$ index.html?_url=$1;
    }
    
    location ~* ^/(css|img|js|flv|swf|download|src)/(.+)$ {
        root /var/www/$name;
    }

    location ~ /\.ht {
        deny all;
    }
}