<zm-field class="zm-advanced-text-container">
	
	<!-- FORMAT -->
	<div class="zm-btn-group">
		
		<!-- BOLD -->
		<zm-btn click="command('bold')">
			<i class="fa fa-bold"></i>
		</zm-btn>
		
		<!-- ITALIC -->
		<zm-btn click="command('italic')">
			<i class="fa fa-italic"></i>
		</zm-btn>
		
		<!-- UNDERLINE -->
		<zm-btn click="command('underline')">
			<i class="fa fa-underline"></i>
		</zm-btn>
		
		<!-- STRIKETHROUGH -->
		<zm-btn click="command('strike')">
			<i class="fa fa-strikethrough"></i>
		</zm-btn>
	</div>
	
	<!-- ALIGNEMENT -->
	<div class="zm-btn-group">
		
		<!-- LEFT -->
		<zm-btn click="command('justifyleft')">
			<i class="fa fa-align-left"></i>
		</zm-btn>
		
		<!-- CENTER -->
		<zm-btn click="command('justifycenter')">
			<i class="fa fa-align-center"></i>
		</zm-btn>
		
		<!-- RIGHT -->
		<zm-btn click="command('justifyright')">
			<i class="fa fa-align-right"></i>
		</zm-btn>
		
		<!-- JUSTIFY -->
		<zm-btn click="command('justifyfull')">
			<i class="fa fa-align-justify"></i>
		</zm-btn>
	</div>
	
	<!-- LINK -->
	<div class="zm-btn-group">
		
		<!-- LINK -->
		<zm-btn click="command('link')">
			<i class="fa fa-link"></i>
		</zm-btn>
		
		<!-- UNLINK -->
		<zm-btn click="command('unlink')">
			<i class="fa fa-unlink"></i>
		</zm-btn>
	</div>
	
	<!-- LIST -->
	<div class="zm-btn-group">
		
		<!-- DECIMAL POINTS -->
		<zm-btn click="command('ol')">
			<i class="fa fa-list-ol"></i>
		</zm-btn>
		
		<!-- BULLET POINTS -->
		<zm-btn click="command('ul')">
			<i class="fa fa-list-ul"></i>
		</zm-btn>
	</div>
	
	<!-- INDENTATION -->
	<div class="zm-btn-group">
		
		<!-- INDENT -->
		<zm-btn click="command('indent')">
			<i class="fa fa-indent"></i>
		</zm-btn>
		
		<!-- OUTDENT -->
		<zm-btn click="command('outdent')">
			<i class="fa fa-outdent"></i>
		</zm-btn>
	</div>
	
	<!-- S-SCRIPTS -->
	<div class="zm-btn-group">
		
		<!-- SUBSCRIPT -->
		<zm-btn click="command('subscript')">
			<i class="fa fa-subscript"></i>
		</zm-btn>
		
		<!-- SUPERSCRIPT -->
		<zm-btn click="command('superscript')">
			<i class="fa fa-superscript"></i>
		</zm-btn>
	</div>
	
	<!-- OTHERS -->
	<div class="zm-btn-group">
		
		<!-- ERASER -->
		<zm-btn click="command('eraser')">
			<i class="fa fa-eraser"></i>
		</zm-btn>
		
		<!-- HEADER -->
		<zm-btn click="command('header')">
			<i class="fa fa-header"></i>
		</zm-btn>
	</div>
</zm-field>