/**
 * Content styling
 */
.zm-widget-text p:first-child {
  margin-top: 0;
}
.zm-widget-text p:last-child {
  margin-bottom: 0;
}

/**
 * Medium-Editor styling overriding
 */
.medium-editor-element {
  min-height: auto;
}
.medium-editor-toolbar li button {
  padding: 0.5em 1em;
  height: auto;
  min-width: auto;
}
.medium-toolbar-arrow-under:after {
  top: 33px;
}
.medium-editor-toolbar {
  box-shadow: none;
}

/**
 * Toolbar
 */
/*.zm-widget-text-toolbar {*/
/*  position: absolute;*/
/*  top: -2.85em;*/
/*  left: 0;*/
/*  width: calc(100% - 1em - 2px);*/
/*  background-color: #ccc;*/
/*  padding: 0.25em 0.5em;*/
/*  border-radius: 0.25em 0.25em 0 0;*/
/*  border: #999 solid 1px;*/
/*  display: none;*/
/*}*/
/*.zm-widget-text.zm-highlighted .zm-widget-text-toolbar {*/
/*  display: block;*/
/*}*/
/*.zm-widget-text-btn-group {*/
/*  float: left;*/
/*}*/
/*.zm-widget-text-btn-group + .zm-widget-text-btn-group {*/
/*  margin-left: 0.5em;*/
/*  padding-left: 0.5em;*/
/*  border-left: #999 solid 1px;*/
/*}*/
/*.zm-widget-text-btn-group button {*/
/*  float: left;*/
/*}*/
/*.zm-widget-text-btn-group button + button {*/
/*  margin-left: 0.25em;*/
/*}*/



.zm-widget-text > .zm-widget-inner {
  padding: 0;
}
.zm-widget-inner > .zm-widget-text > .zm-text-content {
  padding: 1em;
}