<div class="zm-widget-text">
	
	<!-- TOOLBAR -->
	<!--<div class="zm-widget-text-toolbar">-->
		
	<!--	<div class="zm-widget-text-btn-group">-->
	<!--		<div class="zm-btn" ng-click="action('bold')">-->
	<!--			<i class="fa fa-bold"></i>-->
	<!--		</div>-->
	<!--		<div class="zm-btn" ng-click="action('italic')">-->
	<!--			<i class="fa fa-italic"></i>-->
	<!--		</div>-->
	<!--		<div class="zm-btn" ng-click="action('underline')">-->
	<!--			<i class="fa fa-underline"></i>-->
	<!--		</div>-->
	<!--		<div class="zm-btn" ng-click="action('strikethrough')">-->
	<!--			<i class="fa fa-strikethrough"></i>-->
	<!--		</div>-->
	<!--	</div>-->
		
	<!--	<div class="zm-widget-text-btn-group">-->
	<!--		<div class="zm-btn" ng-click="action('justifyLeft')">-->
	<!--			<i class="fa fa-align-left"></i>-->
	<!--		</div>-->
	<!--		<div class="zm-btn" ng-click="action('justifyCenter')">-->
	<!--			<i class="fa fa-align-center"></i>-->
	<!--		</div>-->
	<!--		<div class="zm-btn" ng-click="action('justifyRight')">-->
	<!--			<i class="fa fa-align-right"></i>-->
	<!--		</div>-->
	<!--		<div class="zm-btn" ng-click="action('justifyFull')">-->
	<!--			<i class="fa fa-align-justify"></i>-->
	<!--		</div>-->
	<!--	</div>-->
		
	<!--	<div class="zm-widget-text-btn-group">-->
	<!--		<select ng-change="action('heading', state.heading)" ng-model="state.heading">-->
	<!--			<option value="H1">Title</option>-->
	<!--			<option value="H2">Heading 2</option>-->
	<!--			<option value="H3">Heading 3</option>-->
	<!--			<option value="H4">Heading 4</option>-->
	<!--			<option value="H5">Heading 5</option>-->
	<!--			<option value="H6">Heading 6</option>-->
	<!--		</select>-->
	<!--	</div>-->
	<!--</div>-->
	
	<!-- CONTENT -->
	<div class="zm-text-content" ng-bind-html="text | trustHtml"></div>
</div>