/**
 * Content styling
 */
.zm-widget-text p:first-child {
  margin-top: 0;
}
.zm-widget-text p:last-child {
  margin-bottom: 0;
}
.zm-text-content-editor-text {
  overflow: auto;
  padding: 1rem;
}
.zm-text-content-editor,
.zm-text-content-editor-text {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  max-height: 100%;
  overflow: auto;
  width: 100%;
}
.zm-text-content-editor-text p:first-child {
  margin-top: 0;
}
.zm-text-content-editor-text p:last-child {
  margin-bottom: 0;
}
.zm-text-content-editor-text {
  outline: 0;
}
.zm-widget-container.zm-context-preview .zm-text-content {
  padding: 1rem;
}