<div class="zm-toolbar zm-flex-minimal" ng-show="object.isVisible()" ng-class="{ active: object.isActive(), disabled: object.isDisabled() }">
	<div class="zm-toolbar-inner zm-clearfix">
		
		<!-- SECTIONS -->
		<div class="zm-toolbar-section-{{ section }} zm-flex-container zm-flex-gap-x zm-flex-align-center" ng-repeat="section in ::sections.top">
			
			<!-- OBJECTS -->
			<div class="zm-toolbar-item" ng-repeat="child in object.childs | filter: { region: section } | orderBy: 'priority' track by $index">
				<zm-object object="child"></zm-object>
			</div>
		</div>
	</div>
</div>