<div class="zm-sidebar-widgets">
	
	<!-- NOTICE -->
	<zm-dismissable type="info" key="zm-sidebar-widgets-hold">
		Tap and hold a widget to drag it into your content.
	</zm-dismissable>
	
	<!-- FILTER -->
    <div class="zm-content-small">
        <zm-field-text icon="search" placeholder="Filter widgets..." ng-model="filters.query" autofocus="on" />
        
        <!-- IF NO WIDGET FOUND -->
        <p ng-if="noWidgetsFound" style="text-align: center">
        	No widget found based on your search criteria.
    	</p>
    </div>
    
	<!-- TABS -->
	<div class="zm-sidebar-group" ng-if="section.widgets.length > 0" ng-repeat="(key, section) in sections">
        <div class="zm-sidebar-title zm-flex-container zm-flex-container-gap" ng-click="$root.config.sidebar.widgets.tabs[key].visible = !$root.config.sidebar.widgets.tabs[key].visible" zm-clickable>
            
            <span class="zm-sidebar-title-text">
            	{{ ::section.title }}
        	</span>
            
            <!-- TOTAL NODES -->
            <div class="zm-badge zm-flex-minimal">
            	{{ section.widgets.length }}
            </div>
            
            <!-- CHEVRON -->
            <i class="fa zm-pull-right zm-flex-minimal" ng-class="{'fa-chevron-down': $root.config.sidebar.widgets.tabs[key].visible, 'fa-chevron-right': !$root.config.sidebar.widgets.tabs[key].visible}"></i>
        </div>
        <zm-field class="zm-sidebar-content zm-content-small" ng-show="$root.config.sidebar.widgets.tabs[key].visible">
            <div ng-if="section.widgets.length > 0" class="zm-flex-container zm-flex-container-gap zm-flex-equal-size">
				
				<!-- LIST OF ITEMS (REPEAT) -->
				<div class="zm-sidebar-widgets-item" zm-sidebar-widgets-item="{{ ::widget.type }}" ng-repeat="widget in section.widgets">
					<div class="zm-vertical-align-middle">
						
						<!-- ICON -->
						<div class="zm-sidebar-widgets-item-icon" ng-if="widget.icon">
							<i class="fa fa-{{ ::widget.icon }}"></i>
						</div>
						
						<!-- TITLE -->
						<h4 class="zm-sidebar-widgets-item-title" ng-if="widget.title">
							{{ ::widget.title }}
						</h4>
						
						<!-- DESCRIPTION -->
						<p class="zm-sidebar-widgets-item-desc" ng-if="widget.desc">
							{{ ::widget.desc }}
						</p>
					</div>
				</div>
			</div>
        </zm-field>
    </div>
</div>