/**
 * Add new widget modal
 */
.zm-sidebar-widgets-item {
  border: #ddd solid 1px;
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  
  -webkit-touch-action: none;
     -moz-touch-action: none;
      -ms-touch-action: none;
          touch-action: none;
}
.zm-sidebar-widgets-item:hover {
  border-color: #aaa;
}
.zm-sidebar-widgets .zm-sidebar-widgets-item:hover {
  cursor: move;
}
.zm-sidebar-widgets-item-icon {
  font-size: 2rem;
}
.zm-sidebar-widgets-item-title {
  margin: 0;
}
.zm-sidebar-widgets-item-desc {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0;
}
.zm-sidebar-widgets-item.zm-widget-drag {
  position: absolute;
}