<div class="zm-settings">
    
    <!-- DEBUG -->
    <div class="zm-settings-group" ng-if="settings.debug">
        <div class="zm-settings-title" ng-click="settings.debugVisible = !settings.debugVisible" zm-clickable>
            Debug
            
            <i class="fa zm-pull-right" ng-class="{'fa-chevron-down': settings.debugVisible, 'fa-chevron-right': !settings.debugVisible}"></i>
        </div>
        <div class="zm-settings-inner" ng-show="settings.debugVisible">
            <table>
                <tbody>
                    <tr>
                        <th>Selected</th>
                        <td>{{ zm.widget.totalSelected }}</td>
                    </tr>
                    <tr>
                        <th>History</th>
                        <td>{{ history.position }} / {{ history.changes.length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- SELECTED SETTINGS -->
    <div class="zm-settings-group" ng-repeat="(key, setting) in getSettings()">
        <div class="zm-settings-title" ng-click="setting.visible = !setting.visible" zm-clickable>
            {{ ::setting.title }}
            
            <i class="fa zm-pull-right" ng-class="{'fa-chevron-down': setting.visible, 'fa-chevron-right': !setting.visible}"></i>
        </div>
        <div class="zm-settings-inner" ng-show="setting.visible">
            <zm-directive name="::key"></zm-directive>
        </div>
    </div>
</div>