/**
 * Sizes
 */
.zm-w100 {width: 100%;}
.zm-h100 {height: 100%;}

/**
 * Margins
 */
.zm-my-auto {margin-top: auto !important; margin-bottom: auto !important;}
.zm-mx-auto {margin-left: auto !important; margin-right: auto !important;} 

.zm-m-0 {margin: 0 !important;}
.zm-m-1 {margin: 0.25rem !important;}
.zm-m-2 {margin: 0.5rem !important;}
.zm-m-3 {margin: 1rem !important;}

.zm-my-0 {margin-top: 0 !important; margin-bottom: 0 !important;}
.zm-my-1 {margin-top: 0.25rem !important; margin-bottom: 0.25rem !important;}
.zm-my-2 {margin-top: 0.5rem !important; margin-bottom: 0.5rem !important;}
.zm-my-3 {margin-top: 1rem !important; margin-bottom: 1rem !important;}

.zm-mx-0 {margin-left: 0 !important; margin-right: 0 !important;}
.zm-mx-1 {margin-left: 0.25rem !important; margin-right: 0.25rem !important;}
.zm-mx-2 {margin-left: 0.5rem !important; margin-right: 0.5rem !important;}
.zm-mx-3 {margin-left: 1rem !important; margin-right: 1rem !important;} 

.zm-mt-0 {margin-top: 0 !important;}
.zm-mt-1 {margin-top: 0.25rem !important;}
.zm-mt-2 {margin-top: 0.5rem !important;}
.zm-mt-3 {margin-top: 1rem !important;}

.zm-mr-0 {margin-right: 0 !important;}
.zm-mr-1 {margin-right: 0.25rem !important;}
.zm-mr-2 {margin-right: 0.5rem !important;}
.zm-mr-3 {margin-right: 1rem !important;}

.zm-mb-0 {margin-bottom: 0 !important;}
.zm-mb-1 {margin-bottom: 0.25rem !important;}
.zm-mb-2 {margin-bottom: 0.5rem !important;}
.zm-mb-3 {margin-bottom: 1rem !important;}

.zm-ml-0 {margin-left: 0 !important;}
.zm-ml-1 {margin-left: 0.25rem !important;}
.zm-ml-2 {margin-left: 0.5rem !important;}
.zm-ml-3 {margin-left: 1rem !important;}

@media all and (min-width: 576px) {
  
  .zm-my-sm-auto {margin-top: auto !important; margin-bottom: auto !important;}
  .zm-mx-sm-auto {margin-left: auto !important; margin-right: auto !important;} 
  
  .zm-m-sm-0 {margin: 0 !important;}
  .zm-m-sm-1 {margin: 0.25rem !important;}
  .zm-m-sm-2 {margin: 0.5rem !important;}
  .zm-m-sm-3 {margin: 1rem !important;}
  
  .zm-my-sm-0 {margin-top: 0 !important; margin-bottom: 0 !important;}
  .zm-my-sm-1 {margin-top: 0.25rem !important; margin-bottom: 0.25rem !important;}
  .zm-my-sm-2 {margin-top: 0.5rem !important; margin-bottom: 0.5rem !important;}
  .zm-my-sm-3 {margin-top: 1rem !important; margin-bottom: 1rem !important;}
  
  .zm-mx-sm-0 {margin-left: 0 !important; margin-right: 0 !important;}
  .zm-mx-sm-1 {margin-left: 0.25rem !important; margin-right: 0.25rem !important;}
  .zm-mx-sm-2 {margin-left: 0.5rem !important; margin-right: 0.5rem !important;}
  .zm-mx-sm-3 {margin-left: 1rem !important; margin-right: 1rem !important;} 
  
  .zm-mt-sm-0 {margin-top: 0 !important;}
  .zm-mt-sm-1 {margin-top: 0.25rem !important;}
  .zm-mt-sm-2 {margin-top: 0.5rem !important;}
  .zm-mt-sm-3 {margin-top: 1rem !important;}
  
  .zm-mr-sm-0 {margin-right: 0 !important;}
  .zm-mr-sm-1 {margin-right: 0.25rem !important;}
  .zm-mr-sm-2 {margin-right: 0.5rem !important;}
  .zm-mr-sm-3 {margin-right: 1rem !important;}
  
  .zm-mb-sm-0 {margin-bottom: 0 !important;}
  .zm-mb-sm-1 {margin-bottom: 0.25rem !important;}
  .zm-mb-sm-2 {margin-bottom: 0.5rem !important;}
  .zm-mb-sm-3 {margin-bottom: 1rem !important;}
  
  .zm-ml-sm-0 {margin-left: 0 !important;}
  .zm-ml-sm-1 {margin-left: 0.25rem !important;}
  .zm-ml-sm-2 {margin-left: 0.5rem !important;}
  .zm-ml-sm-3 {margin-left: 1rem !important;}
}

@media all and (min-width: 768px) {
  
  .zm-my-md-auto {margin-top: auto !important; margin-bottom: auto !important;}
  .zm-mx-md-auto {margin-left: auto !important; margin-right: auto !important;} 
  
  .zm-m-md-0 {margin: 0 !important;}
  .zm-m-md-1 {margin: 0.25rem !important;}
  .zm-m-md-2 {margin: 0.5rem !important;}
  .zm-m-md-3 {margin: 1rem !important;}
  
  .zm-my-md-0 {margin-top: 0 !important; margin-bottom: 0 !important;}
  .zm-my-md-1 {margin-top: 0 !important; margin-bottom: 0 !important;}
  .zm-my-md-2 {margin-top: 0.5rem !important; margin-bottom: 0.5rem !important;}
  .zm-my-md-3 {margin-top: 1rem !important; margin-bottom: 1rem !important;}
  
  .zm-mx-md-0 {margin-left: 0 !important; margin-right: 0 !important;}
  .zm-mx-md-1 {margin-left: 0.25rem !important; margin-right: 0.25rem !important;}
  .zm-mx-md-2 {margin-left: 0.5rem !important; margin-right: 0.5rem !important;}
  .zm-mx-md-3 {margin-left: 1rem !important; margin-right: 1rem !important;} 
  
  .zm-mt-md-0 {margin-top: 0 !important;}
  .zm-mt-md-1 {margin-top: 0.25rem !important;}
  .zm-mt-md-2 {margin-top: 0.5rem !important;}
  .zm-mt-md-3 {margin-top: 1rem !important;}
  
  .zm-mr-md-0 {margin-right: 0 !important;}
  .zm-mr-md-1 {margin-right: 0.25rem !important;}
  .zm-mr-md-2 {margin-right: 0.5rem !important;}
  .zm-mr-md-3 {margin-right: 1rem !important;}
  
  .zm-mb-md-0 {margin-bottom: 0 !important;}
  .zm-mb-md-1 {margin-bottom: 0.25rem !important;}
  .zm-mb-md-2 {margin-bottom: 0.5rem !important;}
  .zm-mb-md-3 {margin-bottom: 1rem !important;}
  
  .zm-ml-md-0 {margin-left: 0 !important;}
  .zm-ml-md-1 {margin-left: 0.25rem !important;}
  .zm-ml-md-2 {margin-left: 0.5rem !important;}
  .zm-ml-md-3 {margin-left: 1rem !important;}
}

@media all and (min-width: 992px) {
  
  .zm-my-lg-auto {margin-top: auto !important; margin-bottom: auto !important;}
  .zm-mx-lg-auto {margin-left: auto !important; margin-right: auto !important;} 
  
  .zm-m-lg-0 {margin: 0 !important;}
  .zm-m-lg-1 {margin: 0.25rem !important;}
  .zm-m-lg-2 {margin: 0.5rem !important;}
  .zm-m-lg-3 {margin: 1rem !important;}
  
  .zm-my-lg-0 {margin-top: 0 !important; margin-bottom: 0 !important;}
  .zm-my-lg-1 {margin-top: 0 !important; margin-bottom: 0 !important;}
  .zm-my-lg-2 {margin-top: 0.5rem !important; margin-bottom: 0.5rem !important;}
  .zm-my-lg-3 {margin-top: 1rem !important; margin-bottom: 1rem !important;}
  
  .zm-mx-lg-0 {margin-left: 0 !important; margin-right: 0 !important;}
  .zm-mx-lg-1 {margin-left: 0.25rem !important; margin-right: 0.25rem !important;}
  .zm-mx-lg-2 {margin-left: 0.5rem !important; margin-right: 0.5rem !important;}
  .zm-mx-lg-3 {margin-left: 1rem !important; margin-right: 1rem !important;} 
  
  .zm-mt-lg-0 {margin-top: 0 !important;}
  .zm-mt-lg-1 {margin-top: 0.25rem !important;}
  .zm-mt-lg-2 {margin-top: 0.5rem !important;}
  .zm-mt-lg-3 {margin-top: 1rem !important;}
  
  .zm-mr-lg-0 {margin-right: 0 !important;}
  .zm-mr-lg-1 {margin-right: 0.25rem !important;}
  .zm-mr-lg-2 {margin-right: 0.5rem !important;}
  .zm-mr-lg-3 {margin-right: 1rem !important;}
  
  .zm-mb-lg-0 {margin-bottom: 0 !important;}
  .zm-mb-lg-1 {margin-bottom: 0.25rem !important;}
  .zm-mb-lg-2 {margin-bottom: 0.5rem !important;}
  .zm-mb-lg-3 {margin-bottom: 1rem !important;}
  
  .zm-ml-lg-0 {margin-left: 0 !important;}
  .zm-ml-lg-1 {margin-left: 0.25rem !important;}
  .zm-ml-lg-2 {margin-left: 0.5rem !important;}
  .zm-ml-lg-3 {margin-left: 1rem !important;}
}

/**
 * Paddings
 */
.zm-p-0 {padding: 0 !important;}
.zm-p-1 {padding: 0.25rem !important;}
.zm-p-2 {padding: 0.5rem !important;}
.zm-p-3 {padding: 1rem !important;}

.zm-py-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
.zm-py-1 {padding-top: 0.25rem !important; padding-bottom: 0.25rem !important;}
.zm-py-2 {padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;}
.zm-py-3 {padding-top: 1rem !important; padding-bottom: 1rem !important;}

.zm-px-0 {padding-left: 0 !important; padding-right: 0 !important;}
.zm-px-1 {padding-left: 0.25rem !important; padding-right: 0.25rem !important;}
.zm-px-2 {padding-left: 0.5rem !important; padding-right: 0.5rem !important;}
.zm-px-3 {padding-left: 1rem !important; padding-right: 1rem !important;} 

.zm-pt-0 {padding-top: 0 !important;}
.zm-pt-1 {padding-top: 0.25rem !important;}
.zm-pt-2 {padding-top: 0.5rem !important;}
.zm-pt-3 {padding-top: 1rem !important;}

.zm-pr-0 {padding-right: 0 !important;}
.zm-pr-1 {padding-right: 0.25rem !important;}
.zm-pr-2 {padding-right: 0.5rem !important;}
.zm-pr-3 {padding-right: 1rem !important;}

.zm-pb-0 {padding-bottom: 0 !important;}
.zm-pb-1 {padding-bottom: 0.25rem !important;}
.zm-pb-2 {padding-bottom: 0.5rem !important;}
.zm-pb-3 {padding-bottom: 1rem !important;}

.zm-pl-0 {padding-left: 0 !important;}
.zm-pl-1 {padding-left: 0.25rem !important;}
.zm-pl-2 {padding-left: 0.5rem !important;}
.zm-pl-3 {padding-left: 1rem !important;}

@media all and (min-width: 576px) {
  
  .zm-p-sm-0 {padding: 0 !important;}
  .zm-p-sm-1 {padding: 0.25rem !important;}
  .zm-p-sm-2 {padding: 0.5rem !important;}
  .zm-p-sm-3 {padding: 1rem !important;}
  
  .zm-py-sm-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
  .zm-py-sm-1 {padding-top: 0.25rem !important; padding-bottom: 0.25rem !important;}
  .zm-py-sm-2 {padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;}
  .zm-py-sm-3 {padding-top: 1rem !important; padding-bottom: 1rem !important;}
  
  .zm-py-sm-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
  .zm-px-sm-1 {padding-left: 0.25rem !important; padding-right: 0.25rem !important;}
  .zm-px-sm-2 {padding-left: 0.5rem !important; padding-right: 0.5rem !important;}
  .zm-px-sm-3 {padding-left: 1rem !important; padding-right: 1rem !important;} 
  
  .zm-pt-sm-0 {padding-top: 0 !important;}
  .zm-pt-sm-1 {padding-top: 0.25rem !important;}
  .zm-pt-sm-2 {padding-top: 0.5rem !important;}
  .zm-pt-sm-3 {padding-top: 1rem !important;}
  
  .zm-pr-sm-0 {padding-right: 0 !important;}
  .zm-pr-sm-1 {padding-right: 0.25rem !important;}
  .zm-pr-sm-2 {padding-right: 0.5rem !important;}
  .zm-pr-sm-3 {padding-right: 1rem !important;}
  
  .zm-pb-sm-0 {padding-bottom: 0 !important;}
  .zm-pb-sm-1 {padding-bottom: 0.25rem !important;}
  .zm-pb-sm-2 {padding-bottom: 0.5rem !important;}
  .zm-pb-sm-3 {padding-bottom: 1rem !important;}
  
  .zm-pl-sm-0 {padding-left: 0 !important;}
  .zm-pl-sm-1 {padding-left: 0.25rem !important;}
  .zm-pl-sm-2 {padding-left: 0.5rem !important;}
  .zm-pl-sm-3 {padding-left: 1rem !important;}
}

@media all and (min-width: 768px) {
  
  .zm-p-md-0 {padding: 0 !important;}
  .zm-p-md-1 {padding: 0.25rem !important;}
  .zm-p-md-2 {padding: 0.5rem !important;}
  .zm-p-md-3 {padding: 1rem !important;}
  
  .zm-py-md-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
  .zm-py-md-1 {padding-top: 0.25rem !important; padding-bottom: 0.25rem !important;}
  .zm-py-md-2 {padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;}
  .zm-py-md-3 {padding-top: 1rem !important; padding-bottom: 1rem !important;}
  
  .zm-px-md-0 {padding-left: 0 !important; padding-right: 0 !important;}
  .zm-px-md-1 {padding-left: 0.25rem !important; padding-right: 0.25rem !important;}
  .zm-px-md-2 {padding-left: 0.5rem !important; padding-right: 0.5rem !important;}
  .zm-px-md-3 {padding-left: 1rem !important; padding-right: 1rem !important;} 
  
  .zm-pt-md-0 {padding-top: 0 !important;}
  .zm-pt-md-1 {padding-top: 0.25rem !important;}
  .zm-pt-md-2 {padding-top: 0.5rem !important;}
  .zm-pt-md-3 {padding-top: 1rem !important;}
  
  .zm-pr-md-0 {padding-right: 0 !important;}
  .zm-pr-md-1 {padding-right: 0.25rem !important;}
  .zm-pr-md-2 {padding-right: 0.5rem !important;}
  .zm-pr-md-3 {padding-right: 1rem !important;}
  
  .zm-pb-md-0 {padding-bottom: 0 !important;}
  .zm-pb-md-1 {padding-bottom: 0.25rem !important;}
  .zm-pb-md-2 {padding-bottom: 0.5rem !important;}
  .zm-pb-md-3 {padding-bottom: 1rem !important;}
  
  .zm-pl-md-0 {padding-left: 0 !important;}
  .zm-pl-md-1 {padding-left: 0.25rem !important;}
  .zm-pl-md-2 {padding-left: 0.5rem !important;}
  .zm-pl-md-3 {padding-left: 1rem !important;}
}

@media all and (min-width: 992px) {
  
  .zm-p-lg-0 {padding: 0 !important;}
  .zm-p-lg-1 {padding: 0.25rem !important;}
  .zm-p-lg-2 {padding: 0.5rem !important;}
  .zm-p-lg-3 {padding: 1rem !important;}
  
  .zm-py-lg-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
  .zm-py-lg-1 {padding-top: 0.25rem !important; padding-bottom: 0.25rem !important;}
  .zm-py-lg-2 {padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;}
  .zm-py-lg-3 {padding-top: 1rem !important; padding-bottom: 1rem !important;}
  
  .zm-px-lg-0 {padding-left: 0 !important; padding-right: 0 !important;}
  .zm-px-lg-1 {padding-left: 0.25rem !important; padding-right: 0.25rem !important;}
  .zm-px-lg-2 {padding-left: 0.5rem !important; padding-right: 0.5rem !important;}
  .zm-px-lg-3 {padding-left: 1rem !important; padding-right: 1rem !important;} 
  
  .zm-pt-lg-0 {padding-top: 0 !important;}
  .zm-pt-lg-1 {padding-top: 0.25rem !important;}
  .zm-pt-lg-2 {padding-top: 0.5rem !important;}
  .zm-pt-lg-3 {padding-top: 1rem !important;}
  
  .zm-pr-lg-0 {padding-right: 0 !important;}
  .zm-pr-lg-1 {padding-right: 0.25rem !important;}
  .zm-pr-lg-2 {padding-right: 0.5rem !important;}
  .zm-pr-lg-3 {padding-right: 1rem !important;}
  
  .zm-pb-lg-0 {padding-bottom: 0 !important;}
  .zm-pb-lg-1 {padding-bottom: 0.25rem !important;}
  .zm-pb-lg-2 {padding-bottom: 0.5rem !important;}
  .zm-pb-lg-3 {padding-bottom: 1rem !important;}
  
  .zm-pl-lg-0 {padding-left: 0 !important;}
  .zm-pl-lg-1 {padding-left: 0.25rem !important;}
  .zm-pl-lg-2 {padding-left: 0.5rem !important;}
  .zm-pl-lg-3 {padding-left: 1rem !important;}
}

/**
 * Grid
 */
.zm-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.zm-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.zm-no-gutters > .zm-col,
.zm-no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.zm-col-1, .zm-col-2, .zm-col-3, .zm-col-4, .zm-col-5, .zm-col-6, .zm-col-7, .zm-col-8, .zm-col-9, .zm-col-10, .zm-col-11, .zm-col-12, .zm-col,
.zm-col-auto, .zm-col-sm-1, .zm-col-sm-2, .zm-col-sm-3, .zm-col-sm-4, .zm-col-sm-5, .zm-col-sm-6, .zm-col-sm-7, .zm-col-sm-8, .zm-col-sm-9, .zm-col-sm-10, .zm-col-sm-11, .zm-col-sm-12, .zm-col-sm,
.zm-col-sm-auto, .zm-col-md-1, .zm-col-md-2, .zm-col-md-3, .zm-col-md-4, .zm-col-md-5, .zm-col-md-6, .zm-col-md-7, .zm-col-md-8, .zm-col-md-9, .zm-col-md-10, .zm-col-md-11, .zm-col-md-12, .zm-col-md,
.zm-col-md-auto, .zm-col-lg-1, .zm-col-lg-2, .zm-col-lg-3, .zm-col-lg-4, .zm-col-lg-5, .zm-col-lg-6, .zm-col-lg-7, .zm-col-lg-8, .zm-col-lg-9, .zm-col-lg-10, .zm-col-lg-11, .zm-col-lg-12, .zm-col-lg,
.zm-col-lg-auto, .zm-col-xl-1, .zm-col-xl-2, .zm-col-xl-3, .zm-col-xl-4, .zm-col-xl-5, .zm-col-xl-6, .zm-col-xl-7, .zm-col-xl-8, .zm-col-xl-9, .zm-col-xl-10, .zm-col-xl-11, .zm-col-xl-12, .zm-col-xl,
.zm-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.zm-col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%;
}
.zm-col-auto {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.zm-col-1 {
  -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.zm-col-2 {
  -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.zm-col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}
.zm-col-4 {
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.zm-col-5 {
  -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.zm-col-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}
.zm-col-7 {
  -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.zm-col-8 {
  -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.zm-col-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}
.zm-col-10 {
  -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.zm-col-11 {
  -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.zm-col-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}
.zm-order-first {
  -ms-flex-order: -1;
      order: -1;
}
.zm-order-1 {
  -ms-flex-order: 1;
      order: 1;
}
.zm-order-2 {
  -ms-flex-order: 2;
      order: 2;
}
.zm-order-3 {
  -ms-flex-order: 3;
      order: 3;
}
.zm-order-4 {
  -ms-flex-order: 4;
      order: 4;
}
.zm-order-5 {
  -ms-flex-order: 5;
      order: 5;
}
.zm-order-6 {
  -ms-flex-order: 6;
      order: 6;
}
.zm-order-7 {
  -ms-flex-order: 7;
      order: 7;
}
.zm-order-8 {
  -ms-flex-order: 8;
      order: 8;
}
.zm-order-9 {
  -ms-flex-order: 9;
      order: 9;
}
.zm-order-10 {
  -ms-flex-order: 10;
      order: 10;
}
.zm-order-11 {
  -ms-flex-order: 11;
      order: 11;
}
.zm-order-12 {
  -ms-flex-order: 12;
      order: 12;
}
.zm-offset-1 {
  margin-left: 8.333333%;
}
.zm-offset-2 {
  margin-left: 16.666667%;
}
.zm-offset-3 {
  margin-left: 25%;
}
.zm-offset-4 {
  margin-left: 33.333333%;
}
.zm-offset-5 {
  margin-left: 41.666667%;
}
.zm-offset-6 {
  margin-left: 50%;
}
.zm-offset-7 {
  margin-left: 58.333333%;
}
.zm-offset-8 {
  margin-left: 66.666667%;
}
.zm-offset-9 {
  margin-left: 75%;
}
.zm-offset-10 {
  margin-left: 83.333333%;
}
.zm-offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  .zm-col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .zm-col-sm-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .zm-col-sm-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .zm-col-sm-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .zm-col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .zm-col-sm-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .zm-col-sm-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .zm-col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .zm-col-sm-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .zm-col-sm-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .zm-col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .zm-col-sm-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .zm-col-sm-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .zm-col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .zm-order-sm-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .zm-order-sm-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .zm-order-sm-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .zm-order-sm-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .zm-order-sm-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .zm-order-sm-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .zm-order-sm-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .zm-order-sm-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .zm-order-sm-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .zm-order-sm-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .zm-order-sm-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .zm-order-sm-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .zm-order-sm-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .zm-offset-sm-0 {
    margin-left: 0;
  }
  .zm-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .zm-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .zm-offset-sm-3 {
    margin-left: 25%;
  }
  .zm-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .zm-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .zm-offset-sm-6 {
    margin-left: 50%;
  }
  .zm-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .zm-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .zm-offset-sm-9 {
    margin-left: 75%;
  }
  .zm-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .zm-offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .zm-col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .zm-col-md-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .zm-col-md-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .zm-col-md-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .zm-col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .zm-col-md-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .zm-col-md-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .zm-col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .zm-col-md-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .zm-col-md-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .zm-col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .zm-col-md-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .zm-col-md-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .zm-col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .zm-order-md-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .zm-order-md-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .zm-order-md-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .zm-order-md-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .zm-order-md-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .zm-order-md-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .zm-order-md-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .zm-order-md-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .zm-order-md-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .zm-order-md-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .zm-order-md-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .zm-order-md-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .zm-order-md-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .zm-offset-md-0 {
    margin-left: 0;
  }
  .zm-offset-md-1 {
    margin-left: 8.333333%;
  }
  .zm-offset-md-2 {
    margin-left: 16.666667%;
  }
  .zm-offset-md-3 {
    margin-left: 25%;
  }
  .zm-offset-md-4 {
    margin-left: 33.333333%;
  }
  .zm-offset-md-5 {
    margin-left: 41.666667%;
  }
  .zm-offset-md-6 {
    margin-left: 50%;
  }
  .zm-offset-md-7 {
    margin-left: 58.333333%;
  }
  .zm-offset-md-8 {
    margin-left: 66.666667%;
  }
  .zm-offset-md-9 {
    margin-left: 75%;
  }
  .zm-offset-md-10 {
    margin-left: 83.333333%;
  }
  .zm-offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .zm-col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .zm-col-lg-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .zm-col-lg-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .zm-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .zm-col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .zm-col-lg-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .zm-col-lg-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .zm-col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .zm-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .zm-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .zm-col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .zm-col-lg-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .zm-col-lg-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .zm-col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .zm-order-lg-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .zm-order-lg-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .zm-order-lg-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .zm-order-lg-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .zm-order-lg-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .zm-order-lg-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .zm-order-lg-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .zm-order-lg-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .zm-order-lg-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .zm-order-lg-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .zm-order-lg-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .zm-order-lg-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .zm-order-lg-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .zm-offset-lg-0 {
    margin-left: 0;
  }
  .zm-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .zm-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .zm-offset-lg-3 {
    margin-left: 25%;
  }
  .zm-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .zm-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .zm-offset-lg-6 {
    margin-left: 50%;
  }
  .zm-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .zm-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .zm-offset-lg-9 {
    margin-left: 75%;
  }
  .zm-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .zm-offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .zm-col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .zm-col-xl-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .zm-col-xl-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .zm-col-xl-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .zm-col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .zm-col-xl-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .zm-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .zm-col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .zm-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .zm-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .zm-col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .zm-col-xl-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .zm-col-xl-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .zm-col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .zm-order-xl-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .zm-order-xl-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .zm-order-xl-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .zm-order-xl-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .zm-order-xl-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .zm-order-xl-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .zm-order-xl-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .zm-order-xl-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .zm-order-xl-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .zm-order-xl-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .zm-order-xl-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .zm-order-xl-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .zm-order-xl-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .zm-offset-xl-0 {
    margin-left: 0;
  }
  .zm-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .zm-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .zm-offset-xl-3 {
    margin-left: 25%;
  }
  .zm-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .zm-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .zm-offset-xl-6 {
    margin-left: 50%;
  }
  .zm-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .zm-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .zm-offset-xl-9 {
    margin-left: 75%;
  }
  .zm-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .zm-offset-xl-11 {
    margin-left: 91.666667%;
  }
}