<!-- CHEVRON -->
<i ng-if="lvlOptions.canAdd" class="fa zm-pull-right zm-flex-minimal" ng-class="{
	'fa-chevron-down': lvlSettings.viewItems,
	'fa-chevron-right': !lvlSettings.viewItems
}"></i>

<!-- TITLE -->
<span>
	{{ parentOptions.getTitle(node) }}
</span>

<!-- TOTAL NODES -->
<div ng-if="depth < options.levels.length" class="zm-badge" ng-class="{ 'zm-empty': lvlList.length === 0 }">
	{{ lvlList.length }}
</div>

<!-- OPTIONS -->
<div ng-if="!lvlOptions.canAdd" ng-include="defaultLvlOptions"></div>