<div class="zm-treeview-group" ng-class="{ 'zm-treeview-opened': settings.treeview[currentNode.key] }" ng-init="currentNode = node; lvlSettings = { viewItems: false }; parentOptions = options.levels[depth - 1]; lvlOptions = options.levels[depth]; lvlList = lvlOptions.getList(node)">
	
	<!-- GROUP TITLE -->
	<div ng-click="toggle(lvlSettings, currentNode, $event)" ng-include="lvlOptions.toolbarTemplate || defaultLvlToolbar" class="zm-treeview-group-title zm-flex-container zm-flex-container-gap zm-flex-align-center" ng-class="{ 'zm-shadow-down': settings.treeview[currentNode.key] }"></div>
	
	<div class="zm-field-treeview-sub-level" zm-slide-y="settings.treeview[currentNode.key]">
		<div class="zm-field-treeview-sub-level-inner zm-p-3 zm-pr-0">
			
			<!-- NO KEY PROPERTY WARNING -->
			<zm-dismissable type="warning" ng-if="!currentNode.key">
				{{ ::$root.t('core.field.treeview.noKey') }}
			</zm-dismissable>
			
			<!-- HAS KEY PROPERTY -->
			<div ng-if="currentNode.key">
				
				<!-- BEFORE -->
				<div ng-include="lvlOptions.beforeTemplate || defaultLvlBefore"></div>
		
				<!-- LIST OF ELEMENTS -->
				<ol ng-if="depth < options.levels.length">
					<!--<li ng-class="{ 'zm-mb-3': lvlList.length > 0 }" ng-include="defaultLvlOptions"></li>-->
					<li ng-class="{ first: $index === 0, last: filteredLvlList.length === ($index + 1) }" ng-init="depth = depth + 1; parentList = lvlList; parent = currentNode;" class="zm-treeview-list-item zm-treeview-list-item-depth{{ depth }}" ng-repeat="node in filteredLvlList = filter(lvlList) track by $index" ng-include="lvlOptions.itemTemplate || defaultTemplate"></li>
				</ol>
				
				<!-- AFTER -->
				<div ng-include="lvlOptions.afterTemplate || defaultLvlAfter"></div>
			</div>
		</div>
	</div>
</div>