.zm-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 11000;
  pointer-events: none !important;
}
.zm-tooltip.zm-visible {
  opacity: 1;
}
.zm-tooltip-inner {
  position: relative;
  background-color: black;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.2rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.zm-tooltip.zm-tooltip-has-pointer .zm-tooltip-pointer {
  width: 0;
  height: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(0px) translateY(0px);
}
.zm-tooltip.zm-tooltip-has-pointer.zm-tooltip-top {
  margin-bottom: 0.5rem
}
.zm-tooltip.zm-tooltip-has-pointer.zm-tooltip-top .zm-tooltip-pointer {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid black;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
}
.zm-tooltip.zm-tooltip-has-pointer.zm-tooltip-bottom {
  margin-top: 0.5rem
}
.zm-tooltip.zm-tooltip-has-pointer.zm-tooltip-bottom .zm-tooltip-pointer {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid black;
  top: -0.5rem;
  left: 50%;
  margin-left: -0.5rem;
}
.zm-tooltip.zm-tooltip-has-pointer.zm-tooltip-left .zm-tooltip-pointer {
  display: block;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid black;
  left: 100%;
  top: calc(50% - 0.5rem);
}
.zm-tooltip.zm-tooltip-affix-top .zm-tooltip-inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.zm-tooltip.zm-tooltip-affix-bottom .zm-tooltip-inner {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.zm-tooltip.zm-tooltip-affix-left .zm-tooltip-inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.zm-tooltip.zm-tooltip-affix-right .zm-tooltip-inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}