<div class="zm-workspace-modal-create zm-nowrap">
	<div class="zm-form-group zm-row zm-flex-align-center">
		<label class="zm-col-12 zm-col-sm-4 zm-mb-2 zm-mb-sm-0">{{ ::t('core.components.sidebar.workspace.connect.envTitle') }}</label>
		<div class="zm-col-12 zm-col-sm-8">
			<label zm-tooltip="{{ ::t('core.components.sidebar.workspace.connect.browserTooltip') }}">
				<input ng-disabled="!workspace.isNew()" type="radio" ng-model="workspace.data.env" value="browser" />
				{{ ::t('core.components.sidebar.workspace.connect.browser') }}
			</label>
			<label class="zm-ml-3">
				<input ng-disabled="!workspace.isNew()" type="radio" ng-model="workspace.data.env" value="remote" />
				{{ ::t('core.components.sidebar.workspace.connect.remote') }}
			</label>
		</div>
	</div>
	<hr class="zm-my-3" />
	<div class="zm-form-group zm-row zm-mt-3 zm-flex-align-center">
		<label class="zm-col-12 zm-col-sm-4 zm-mb-2 zm-mb-sm-0">{{ ::t('core.components.sidebar.workspace.connect.nameTitle') }} <span ng-if="workspace.data.env !== 'remote'" class="zm-text-danger">*</span></label>
		<zm-field-text class="zm-col-12 zm-col-sm-8" icon="tag" placeholder="{{ ::t('core.components.sidebar.workspace.connect.namePlaceholder') }}" ng-model="workspace.data.name" autofocus="on" />
	</div>
	<div class="zm-form-group zm-row zm-mt-2 zm-flex-align-center">
		<label class="zm-col-12 zm-col-sm-4 zm-mb-2 zm-mb-sm-0">{{ ::t('core.components.sidebar.workspace.connect.hostTitle') }} <span class="zm-text-danger">*</span></label>
		<zm-field-text ng-disabled="workspace.data.env !== 'remote'" class="zm-col-12 zm-col-sm-8" icon="database" placeholder="{{ ::t('core.components.sidebar.workspace.connect.hostPlaceholder') }}" ng-model="workspace.data.host" />
	</div>
	<div class="zm-form-group zm-row zm-mt-2 zm-flex-align-center">
		<label class="zm-col-12 zm-col-sm-4 zm-mb-2 zm-mb-sm-0">{{ ::t('core.components.sidebar.workspace.connect.userTitle') }}</label>
		<zm-field-text ng-disabled="workspace.data.env !== 'remote'" class="zm-col-12 zm-col-sm-8" icon="user" placeholder="{{ ::t('core.components.sidebar.workspace.connect.userPlaceholder') }}" ng-model="workspace.data.user" />
	</div>
	<div class="zm-form-group zm-row zm-mt-2 zm-flex-align-center">
		<label class="zm-col-12 zm-col-sm-4 zm-mb-2 zm-mb-sm-0">{{ ::t('core.components.sidebar.workspace.connect.passTitle') }}</label>
		<zm-field-password ng-disabled="workspace.data.env !== 'remote'" class="zm-col-12 zm-col-sm-8" icon="lock" placeholder="********" ng-model="workspace.data.password" />
	</div>
</div>